{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'false' %}

{% block pageTitle %}
  Continue to register
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Continue to register for an NPQ</h1>
    {% set gaiURL = config.gaiPrototypeUrl + '/user-research/npq/id?' %}
    {{ govukButton({
      text: "Continue",
      href: gaiURL,
      isStartButton: true
    }) }}
  </div>
</div>

{% endblock %}