
{% extends "layout.html" %}


{% block pageTitle %}
  Register for a national professional qualification (NPQ)
{% endblock %}

{% block content %}
  <!-- Partial Closed  -->
  {% if data['closedState'] == "Partial" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register for a national professional qualification (NPQ)
        </h1>
        <h3 class="govuk-heading-m">Registration has closed temporarily</h3>
        <p>When registration reopens, use this service to register for an NPQ or the early headship coaching offer starting in autumn 2025. </p>
        <p><strong><a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/closed-eoi">Request email updates to tell you when registration opens</a></strong>. You can also tell us about your interest in the special educational needs coordinator (SENCO) NPQ course.</p>

        <p>You’ll be asked to create a DfE Identity account or sign in to your account. </p>
        <p>You will need a teacher reference number (TRN), even if you’re not a teacher. <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Find a lost TRN or request one</a> if you do not have it yet.</p>
        <p>If you're starting a national professional qualification (NPQ) course before July 2024, contact your provider for support.</p>

        <h3 class="govuk-heading-m">Check your existing registrations</h3>
        <p>You can still <a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/closed-signin">sign in to your DfE Identity account</a> to check your: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>registration details, if you already registered </li>
          <li>course outcome, if you have completed your course </li>
        </ul>
      </div>
    </div>
    
    <!-- FULL Closed  -->
    {% elseif data['closedState'] == "Full" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register for a national professional qualification (NPQ)
        </h1>
        <h3 class="govuk-heading-m">Registration has closed temporarily</h3>
        <p><a href="closed/eoi-email">Request email updates to tell you when registration reopens</a>. </p>
    

        <h3 class="govuk-heading-m">When registration opens</h3>
        <p>Use this service to: </p>
        <ul class="govuk-list govuk-list--bullet">
        
          <li>register for an NPQ or the early headship coaching offer </li>
          <li>check your registration details, if you already registered </li>
          <li>check your course outcome, if you have completed your course </li>
        </ul>
      </div>
    </div>

    <!-- Open -->
    {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Register for a national professional qualification (NPQ)
        </h1>
        <p>
          Use this service to:
        </p>
  
        <ul class="govuk-list govuk-list--bullet">
          <li>check your eligibility for DfE scholarship funding for an NPQ</li>
          <li>register for an NPQ or the early headship coaching offer with your provider</li>
        </ul>
        <p>
          Your provider will then contact you asking you to apply through them.
        </p>

        {{ govukButton({
          text: "Start now",
          href: "/v4/course-start",
          isStartButton: true
        }) }}

        <p class="govuk-body">
          Or <a href="#" class="govuk-link govuk-link--no-visited-state">sign in</a> to view a previous registration or change your personal details.
        </p>

      </div>
    </div>
    
  {% endif %}
{% endblock %}