{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set passedHtml %}
  <strong class="govuk-tag govuk-tag--green">
    Passed
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You can access your certificate through the <a href="https://access-your-teaching-qualifications.education.gov.uk/qualifications/start">Access your teaching qualifications service </a></p>
{% endset %}

{% block content %}
  <h1 class="govuk-heading-xl">Your NPQ registrations</h1>

  {{ govukInsetText({
    html: '<a href="https://get-an-identity-prototype.herokuapp.com/account/account-details">Visit your DfE Identity account</a> to check or change your personal details.'
  }) }}

  <div class="govuk-rows" style="margin-top: 40px"></div>

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Executive leadership NPQ
        <p class="govuk-!-margin-bottom-0">	LLSE (Leadership Learning Securing Excellence)</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--scholarship-review",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "16 June 2023"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--yellow">
              Apply with provider
            </strong>
            <p class="govuk-!-margin-top-2">You need to apply separately with your training provider. </p>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading teaching NPQ
        <p class="govuk-!-margin-bottom-0">Ambition Institute</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--scholarship-only",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "11 April 2023"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">Teach First</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-setting",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "2 January 2022"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        html: 'Senior leadership NPQ
        <p class="govuk-!-margin-bottom-0">Teach First</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-england",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "10 April 2021"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html: passedHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      classes: "govuk-!-margin-bottom-0",
      title: {
        html: 'Leading literacy NPQ
        <p class="govuk-!-margin-bottom-0">National Institute of Teaching</p>'
      },
      actions: {
        items: [
          {
            href: "registration-status--not-funded-ofsted",
            text: "View details",
            classes: "govuk-!-font-weight-regular"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Registration submitted"
        },
        value: {
          html: "17 March 2021"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course outcome"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--red">
              Not passed
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">If you think this is a mistake or need to appeal this outcome, contact your training provider. </p>'
        }
      }
    ]
  }) }}

  {% include '../includes/registration-status/register-for-another-npq.html' %}

  {% include '../includes/prototype-links.html' %}

{% endblock %}
