<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      For prototype reference
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Registration pages showing different funding statuses </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/registration-status/registration-status--scholarship-review">Funding – in review </a></li>
      <li><a href="/registration-status/registration-status--both">Eligible for Scholarship and Targeted support funding </a></li>
      <li><a href="/registration-status/registration-status--scholarship-only">Eligible for Scholarship funding only </a></li>
      <li><a href="/registration-status/registration-status--targeted-only">Eligible for Targeted support funding only </a></li>
      <li><a href="/registration-status/registration-status--not-funded-setting">Not eligible for funding – not the right setting </a></li>
      <li><a href="/registration-status/registration-status--not-funded-england">Not eligible for funding – not in England </a></li>
      <li><a href="/registration-status/registration-status--not-funded-ofsted">Not eligible for funding – not Ofsted </a></li>
    </ul>
    <h3 class="govuk-heading-s">Registration pages showing provider application and course statuses </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/registration-status/registration-status">User with one registration </a></li>
      <li><a href="/registration-status/multiple-registrations">User with multiple registrations </a>  (showing all provider application and course statuses)</li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/registration-status/registration-status--scholarship-review">Apply with provider</a></li>
      <li><a href="/registration-status/registration-status--scholarship-only">Course started</a></li>
      <li><a href="/registration-status/registration-status--not-funded-england">Successful application</a></li>
      <li><a href="/registration-status/registration-status--targeted-only">Unsuccessful application</a></li>
    </ul>
    <h3 class="govuk-heading-s">Other </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="email-complete">Confirmation email</a></li>
    </ul>
  </div>
</details>