
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Start a national professional qualification (NPQ): step by step</h1>
    <p class="govuk-!-font-size-24" style="margin-top: -10px; margin-bottom: 40px">
      Check what you need to do to start an NPQ or the Early headship coaching offer.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--active app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps" data-gemstepnav-module-started="true">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step step-is-shown" id="npq-application-process">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Choose an NPQ
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">

            <ol class="app-step-nav__list " data-length="3">

            <p class="app-step-nav__paragraph"><a href="npq-list">Choose from 8 NPQs or the Early headship coaching offer</a>.</p>

            <p class="app-step-nav__paragraph">If you’re employed, ask your employer or line manager for advice on choosing an NPQ that’s suitable for you. You’ll need your workplace’s approval to do an NPQ.</p>

            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check your funding eligibility
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">

              <p class="app-step-nav__paragraph">NPQs are currently fully funded by the Department for Education (DfE) for eligible participants.</p>

              <p><a href="/pdtl-step-by-step/funding">Learn about funding</a>.</p>

              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Find a provider
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">

              <p class="app-step-nav__paragraph">If you’re employed, ask your employer or line manager if they have a recommended provider for your training.</p>

              <p class="app-step-nav__paragraph">Visit the course pages to see who provides each NPQ and for advice on how to choose between providers.</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a href="leading-teaching">Leading teaching</a></li>
                <li><a href="leading-behaviour-and-culture">Leading behaviour and culture</a></li>
                <li><a href="leading-literacy">Leading literacy</a></li>
                <li><a href="leading-teacher-development">Leading teacher development</a></li>
                <li><a href="senior-leadership">Senior leadership</a></li>
                <li><a href="headship">Headship</a></li>
                <li><a href="executive-leadership">Executive leadership</a></li>
                <li><a href="early-years-leadership">Early years leadership</a></li>
                <li><a href="early-headship-coaching-offer">Early headship coaching offer</a></li>
              </ul>

              <p class="app-step-nav__paragraph">Alternatively, <a href="tsh-finder-1/start-finder">find a teaching school hub near you</a>. They partner with providers to offer NPQs and can tell you:

                <ul class="govuk-list govuk-list--bullet">
                  <li>whether they offer your chosen NPQ</li>
                  <li>who the provider is - you’ll need to know this when you register (next step)</li>
                </ul>

              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Register with the Department for Education
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">You need to register for your NPQ or the Early headship coaching offer with the Department for Education (DfE).</p>

            <p class="app-step-nav__paragraph">This is so that DfE can check and allocate any <a href="funding">funding</a> you’re entitled to, understand who is doing an NPQ, and issue your certificate if you pass your course.</p>

            <p class="app-step-nav__paragraph">Even if you’re not funded by DfE, you still need to register.</p>

            {{ govukButton({
              text: "Register for an NPQ",
              href: "/start"
            }) }}


          </div>

        </li>

        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply through your provider
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
            <ol class="app-step-nav__list " data-length="3">

          <p class="app-step-nav__paragraph">As well as registering with DfE, you also need to apply through your provider.</p>

          <p class="app-step-nav__paragraph">They’ll contact you by email once you’ve registered to outline how to apply.</p>

          <p class="app-step-nav__paragraph">Your provider will also keep you up to date about the course details, such as start dates.</p>

            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Start your NPQ
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
            <ol class="app-step-nav__list " data-length="3">

            <p class="app-step-nav__paragraph">If you pass your NPQ you’ll get a certificate which you can access through the <a href="https://www.gov.uk/guidance/teacher-self-service-portal">teacher self service portal</a>.</p>

            <p class="app-step-nav__paragraph">If you withdraw or fail your course you will not be eligible for DfE funding  again for the same NPQ.</p>

            </ol>
          </div>

        </li>



      </ol>
    </div>

  </div>
</div>


  <!--<div class="govuk-grid-row" style="margin-top: 20px">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="funding">Funding</h2>

      <p>NPQs are currently fully funded by the Department for Education (DfE) for eligible participants.</p>

      <p><a href="/pdtl/funding">Learn about funding</a>.</p>

    </div>
  </div>-->



<!-- YOUTUBE VIDEOS -->
<!-- Needs to be reviewed against GDS guidelines as these state that promotional videos shouldn't be
  added to information pages -->
  <!--<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-l">What participants say about NPQs</h2>
      <p>Hear from previous NPQ participants in the videos below.</p>
      <div style="padding-top: 20px; padding-bottom: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0BhLUJk9hBc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div style="padding-bottom: 40px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U5_-cMudj7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

    </div>
  </div>-->

<!--  <div class="govuk-grid-row govuk-!-padding-top-5">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 40px;">
      <h2 class="govuk-heading-m govuk-!-padding-top-1">
        If you coordinate professional development
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://professional-development-for-teachers-leaders.education.gov.uk/public/files/npq-campaign.pdf">Download or print an NPQ prospectus</a> to share with colleagues in your organisation.</p>
    </div>
  </div>
  </div> -->


  {% include '../includes/pdtl/survey.html' %}

{% endblock %}
