{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-panel app-panel--interruption">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/gai/gai-name" method="post">
      <h1 class="govuk-heading-xl">
        Your details
      </h1>

      <p>Before you register for an NPQ, we'll ask you for a few details to find you in our records.</p>
      <p>We'll ask for your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>date of birth</li>
        <li>National Insurance number, if you have one</li>
      </ul>
      <p>We may also ask some follow-up questions.</p>


      <button class="govuk-button app-button--inverse govuk-!-margin-bottom-0" data-module="govuk-button">
        Continue
      </button>
    </form>

    </div>
  </div>
</div>



{% endblock %}
