<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Annamaria Green</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participant ID
        </dt>
        <dd class="govuk-summary-list__value">
          50558b2a-db55-40e0-ae99-ff02f9065ef7
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application ID
        </dt>
        <dd class="govuk-summary-list__value">
          ???
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NPQ course name
        </dt>
        <dd class="govuk-summary-list__value">
            NPQ Leading Teaching (7546f64c41fb)
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lead provider
        </dt>
        <dd class="govuk-summary-list__value">
          Ambition Institute
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligible for funding
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['adminfunding1'] == "Yes") %}
            {{govukTag({
              text: "YES",
              classes: "govuk-tag--green"
            })}}

            {% else %}

            {{govukTag({
              text: "NO",
              classes: "govuk-tag--red"
            })}}

          {% endif %}
        </dd>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-padding-right-5">
          <p><a href="set-status">Edit</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Funding eligibility status code
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['adminfunding1'] == "Yes") %}
            Eligible for funding
          {% else %}
            {{ data['admincode1'] or "No institution" }}
          {% endif %}

        </dd>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-padding-right-5">
          {% if (data['adminfunding1'] == "Yes") %}
          {% else %}
            <p><a href="set-code">Edit</a></p>
          {% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment type
        </dt>
        <dd class="govuk-summary-list__value">
          Other
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer name
        </dt>
        <dd class="govuk-summary-list__value">
          Bailey, Kuhic and Kshlerin
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employment role
        </dt>
        <dd class="govuk-summary-list__value">
          Lawyer
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created at
        </dt>
        <dd class="govuk-summary-list__value">
          10 February 2023, 2:30 PM
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Updated at
        </dt>
        <dd class="govuk-summary-list__value">
          12 February 2023, 12:55 PM
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notes
        </dt>
        <dd class="govuk-summary-list__value">
            <p id="notes-display1">{{ data['notes1'] or ''}}</p>
        </dd>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-padding-right-5">
          <p><a href="set-notes">Add notes</a></p>
        </dd>
      </div>
      </dl>
      <!--
    {{ govukButton({
      text: "Set eligibility status",
      classes: "govuk-button--secondary",
      href: 'set-status'
    }) }}
    -->

  </div>
</div>
