//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "components/panel";
@import "components/button";
@import "components/utilities";
@import "components/stepbystep";

// MoJ styles
@import "node_modules/@ministryofjustice/frontend/moj/all";

// DfE frontend
@import "node_modules/dfe-frontend/packages/dfefrontend";

//auto complete
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";

@import "components/strat-des";

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-service-navigation__wrapper {
  flex-basis:100%;
}

.govuk-template--rebranded .govuk-service-navigation__item, .govuk-template--rebranded .govuk-service-navigation__service-name {
  padding-bottom: 0px;
}

.govuk-service-navigation__item:last-child {
  margin-left: auto;
}

.govuk-width-container {
    max-width: 1200px;
}






