{% extends "layout.html" %}

{% block pageTitle %}
  Are you a headteacher?
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="ehco-early-headship" method="post">
      {{ govukRadios({
        name: "headteachers",
        id: "headteachers",
        fieldset: {
          legend: {
            text: "Are you a headteacher?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
