{% set englandHtml %}
  {{ data['wheredoyouwork'] or 'Yes'}}
{% endset %}

{% set workSettingHtml %}
  {{ data['whichsetting'] or 'A school'}}
{% endset %}

{% set employerHtml%}
  {{ data['whichschool'] or 'St Thomas More School'}}
{% endset %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Work details"
    },
    actions: {
      items: [
        {
          href: "/registration-status/work-details/where-do-you-work",
          text: "Change work details",
          classes: "govuk-!-font-weight-regular"
        }
      ]
    } if courseOutcome != "Started"
  },
  rows: [
    {
      key: {
        text: "Do you work in England?"
      },
      value: {
        html: englandHtml
      }
    },
    {
      key: {
        text: "Work setting"
      },
      value: {
        html: workSettingHtml
      } 
    },
    {
      key: {
        text: "Employer"
      },
      value: {
        html: employerHtml
      }
    }
  ]
}) }}
