
  <!-- Return to teaching -->
  {% if (data['teachadvisory'] == "Yes") %}
    {% include 'includes/registration-status/work-details/return-teaching-adviser.html' %}

  <!-- Private nursery with URN -->
  {% elseif (data['nurserysetting'] == "Private nursery") and (data['haveurn'] == 'Yes') %}
    {% include 'includes/registration-status/work-details/ey-funded.html' %}

  <!-- Not a nursery with URN -->
  {% elseif (data['nurserysetting'] == "Another early years setting") and (data['haveurn'] == 'Yes') %}
    {% include 'includes/registration-status/work-details/ey-funded.html' %}

  <!-- State nursery  -->
  {% elseif ((data['nurserysetting'] == "Local authority-maintained nursery") or (data['nurserysetting'] == "Pre-school class or nursery that’s part of a school (maintained or independent)")) %}
    {% include 'includes/registration-status/work-details/ey-state-nursery.html' %}

  <!-- Not OFSTED - not nursery or a private nursery -->
  {% elseif (data['whichsetting'] == "Early years or childcare") and (data['haveurn'] == 'No') %}
    {% include 'includes/registration-status/work-details/ey-no-ofsted.html' %}

  <!-- User not working in England -->
  {% elseif data['wheredoyouwork'] == "No" %}
    {% include 'includes/registration-status/work-details/not-eng.html' %}

  <!-- User works in a private school -->
  {% elseif (data['whichschool'] == "private") or (data['whichschool'] == "Private") %}
    {% include 'includes/registration-status/work-details/private-school.html' %}

  <!-- User works in another setting and ITT -->
  {% elseif (data['whichsetting'] == "Other") and (data['mentor'] == "As a lead mentor for an accredited initial teacher training (ITT) provider") %}
    {% include 'includes/registration-status/work-details/other-itt.html' %}
  
  <!-- User works in another setting -->
  {% elseif data['whichsetting'] == "Other" %}
    {% include 'includes/registration-status/work-details/other.html' %}

  {% else %}
    {% include 'includes/registration-status/work-details/school-funded.html' %}
  {% endif %}