{% extends "layout.html" %}
{% set signedIn = 'true' %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Funding eligibility
      </h1>

      <p>You’ve already been allocated scholarship funding for the {{ data['choosenpq'] }} NPQ with [provider].</p>

      <p>If you need to change something about your NPQ or provider, email continuing-professional-development@digital.education.gov.uk.</p>

      <h2 class="govuk-heading-m">If you’re taking the course again</h2>

      <p>Continue to register.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">You would need to pay for the {{ data['choosenpq'] }} NPQ if you were previously funded but you failed or withdrew from the course.</p>


      {{ govukButton({
        text: "Continue",
        href: "how-pay"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="funding-eligible">Return to funded journey</a></p>
          <p><a href="already-funded-tsf">User is also eligible for targeted support funding</a></p>
        </div>
      </details>

    </div>
  </div>



{% endblock %}
