{% extends "layout.html" %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  If your provider accepts your application, you’ll qualify for DfE funding
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Funding 
      </h1>
      <p>Your registration will be reviewed by the Department for Education (DfE) to check if you’re eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ starting before November 2024.</p>

      <p>If you are eligible, you would not have to pay for the course fees.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">Your provider will be notified of your funding eligibility so you should check the outcome with them.</p>

      {{ govukButton({
        text: "Continue",
        href: "/choose-provider"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="already-funded">User has already been funded</a></p>
        </div>
      </details>

    </div>
  </div>



{% endblock %}
