{% extends "layout.html" %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DfE scholarship funding is not available
      </h1>
      <p>You can still register for the early headship coaching offer, but you need to pay for it another way.</p>

      <p>To find out more about your funding options please contact your course provider.</p>

      {{ govukButton({
        text: "Continue",
        href: "how-pay"
      }) }}

    </div>
  </div>



{% endblock %}
