{% extends "layout.html" %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">DfE scholarship funding is not available</h1>

      <p>Our records show that you are already registered to study the <strong>Early Headship Coaching Offer</strong> (previously known as the Additional Support Offer) with <strong>[Provider X].</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>You can only receive scholarship funding to study this offer with one provider. If you do not wish to proceed with [Provider X] you will need to contact them.</li>
        <li>If you have previously withdrawn from this offer, then you’re not eligible for scholarship funding for the same offer again. If you do not believe you’ve withdrawn from this course please email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a> </li>
      </ul>

      <p>PLACEHOLDER COPY: DfE targeted support funding is available for your school. Your school will
      receive £600 to help cover the costs that may emerge from the time you need to do an NPQ.</p>

      <p>You can <a href="/choose-npq">go back and select an NPQ</a> or continue with your registration for the Early Headship Coaching Offer. You’ll need to pay for it another way. Contact your course provider to discuss your funding options.</p>


      {{ govukButton({
        text: "Continue",
        href: "/choose-provider"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="ehco-already-funded">User is not eligible for targeted support funding</a></p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
