{% extends "layout.html" %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DfE scholarship funding is not available
      </h1>
      <p>PLACEHOLDER COPY: DfE targeted support funding is available for your school. Your school will
      receive £600 to help cover the costs that may emerge from the time you need to do an NPQ.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">You can still register, but your provider may not accept your application if you’re not in your first 5 years of headship.</p>

      {{ govukButton({
        text: "Continue",
        href: "how-pay"
      }) }}

    </div>
  </div>



{% endblock %}
