{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Funding </h1>
      <p>You’re not eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ because you do not work in one of the eligible settings, such as state-funded schools.</p>
      <p>This means that you would need to pay for this course another way.</p>
      <p>For example you could pay for the course fees yourself or ask your workplace or trust to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cover the full cost of the NPQ</li>
        <li>share the cost of the NPQ with you</li>
      </ul>
      <p>However, as a lead mentor for an accredited ITT provider, you’re eligible for scholarship funding for the Leading teacher development NPQ.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">You can <a href="/choose-npq.html">go back and select the Leading teacher development NPQ</a> instead.</p>

      {{ govukButton({
        text: "Continue",
        href: "how-pay?referrer=not-funded"
      }) }}

    </div>
  </div>
{% endblock %}
