{% extends "layout.html" %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Funding eligibility
      </h1>

      <!-- Not in England + Early years -->
      {% if (data['wheredoyouwork'] != "England") and (data['whichsetting'] == "Early years or childcare")  %}
        <p>You’re not eligible for scholarship funding for {{ data['choosenpq']}} NPQ because you do not work in England.</p>

        <p class="govuk-body govuk-!-margin-bottom-7">You can still register for this NPQ, but you would need to pay for the course another way.</p>

        <!-- Not in England-->
        {% elseif data['wheredoyouwork'] != "England" %}
        <p>You’re not eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ because you do not work in England.</p>

        <p class="govuk-body govuk-!-margin-bottom-7">This means that you would need to pay for the course another way.</p>

        <!-- Private school -->
        {% elseif data['whichschool'] == "private" %}

        <p>You’re not eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ as you do not work in one of the eligible settings, such as state-funded schools.</p>

        <p class="govuk-body govuk-!-margin-bottom-7">This means that you would need to pay for the course another way.</p>

        <!-- Early years + no OFSTED-->
        {% elseif data['haveurn'] == "No" %}
        <p>You’re not eligible for scholarship funding for the early years leadership NPQ.</p>

        <p>To be eligible, you would need to be registered with Ofsted on the Early Years Register or the Childcare Register, or be registered with a childminder agency (CMA). </p>

        <p class="govuk-body govuk-!-margin-bottom-7">You can still register for this NPQ, but you would need to pay for the course another way.</p>

         <!-- Early years + not NPQEYL -->
         {% elseif (data['haveurn'] == "Yes") and (data['choosenpq'] != "NPQ for Early Years Leadership (NPQEYL)") %}

        <p>You’re not eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ.</p>

        <p>To be eligible, you would need to work in one of the following settings in England:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>state-funded schools</li>
            <li>state-funded 16 to 19 organisations</li>
            <li>independent special schools</li>
            <li>virtual schools</li>
            <li>hospital schools</li>
            <li>young offender institutions</li>
          </ul>

          <p>You can still register for this NPQ, but you would need to pay for the course another way.</p>

          <div class="govuk-inset-text">
            You’re eligible for scholarship funding for the early years leadership NPQ. You can <a href="/choose-npq.html">go back and select the early years leadership NPQ</a> instead.
          </div>

        {% elseif (data['mentor'] == "As a lead mentor for an accredited initial teacher training (ITT) provider") and (data['choosenpq'] != "NPQ for Leading Teacher Development (NPQLTD)") %}

        <p>You’re not eligible for scholarship funding for the {{ data['choosenpq'] }} NPQ.</p>

        <p>To be eligible, you would need to work in one of the following settings in England:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>state-funded schools</li>
            <li>state-funded 16 to 19 organisations</li>
            <li>independent special schools</li>
            <li>virtual schools</li>
            <li>hospital schools</li>
            <li>young offender institutions</li>
          </ul>

        <p>You can still register for this NPQ, but you would need to pay for the course another way.</p>

          <div class="govuk-inset-text">
            You’re eligible for scholarship funding for the leading teacher development NPQ. You can <a href="/choose-npq.html">go back and select the leading teacher development NPQ</a> instead.
          </div>

        {% else %}
          <p>To be eligible for scholarship funding for the <strong>{{ data['choosenpq'] }}</strong> you must work in one of these settings in England:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>state-funded schools or trusts</li>
            <li>state-funded 16 to 19 organisations</li>
            <li>independent special schools</li>
            <li>virtual schools</li>
            <li>hospital schools</li>
            <li>young offender institutions</li>

          </ul>

          <p>You can still register for {{ data['choosenpq'] }}, but you need to pay for it another way. Contact your course provider to discuss your funding options.</p>


      {% endif %}


      {{ govukButton({
        text: "Continue",
        href: "how-pay"
      }) }}

    </div>
  </div>



{% endblock %}
