{% extends "layout.html" %}


{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DfE scholarship funding is not available
      </h1>

      <!-- Not in England + Early years -->
      {% if (data['wheredoyouwork'] != "England") and (data['whichsetting'] == "Early years or childcare")  %}
        <p>To be eligible for scholarship funding for the <strong>{{ data['choosenpq']}}</strong> you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Work in England</li>
          <li>Be registered with Ofsted on the Early Years Register or the Childcare Register, or be registered with a Childminder Agency (CMA)</li>
        </ul>
        <p>You can still register for NPQ Early Years Leadership but you need to pay for it another way. Contact your course provider to discuss your funding options.</p>

        <!-- Not in England-->
        {% elseif data['wheredoyouwork'] != "England" %}
        <p>To be eligible for scholarship funding for the <strong>{{ data['choosenpq'] }}</strong> you must work in one of these settings in England:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>state-funded schools or trusts</li>
            <li>state-funded 16 to 19 organisations</li>
            <li>independent special schools</li>
            <li>virtual schools</li>
            <li>hospital schools</li>
            <li>young offender institutions</li>

          </ul>

          <p>You can still register for {{ data['choosenpq'] }}, but you need to pay for it another way. Contact your course provider to discuss your funding options.</p>

        <!-- Private school -->
        {% elseif data['whichschool'] == "private" %}

        <p>To be eligible for scholarship funding for the <strong>{{ data['choosenpq'] }}</strong> you must work in one of these settings in England:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>state-funded schools or trusts</li>
          <li>state-funded 16 to 19 organisations</li>
          <li>independent special schools</li>
          <li>virtual schools</li>
          <li>hospital schools</li>
          <li>young offender institutions</li>

        </ul>

        <p>You can still register for {{ data['choosenpq'] }}, but you need to pay for it another way. Contact your course provider to discuss your funding options.</p>

        <!-- Early years + no OFSTED-->
        {% elseif data['haveurn'] == "No" %}
        <p>To be eligible for scholarship funding for the <strong>NPQ Early Years Leadership</strong> you must:</p>

         <ul class="govuk-list govuk-list--bullet">
           <li>Work in England</li>
           <li>Be registered with Ofsted on the Early Years Register or the Childcare Register, or be registered with a Childminder Agency (CMA)</li>
         </ul>

         <p>You can still register for {{ data['choosenpq'] }} but you need to pay for it another way. Contact your course provider to discuss your funding options. </p>

         <!-- Early years + not NPQEYL -->
         {% elseif (data['haveurn'] == "Yes") and (data['choosenpq'] != "NPQ for Early Years Leadership (NPQEYL)") %}

        <p>To be eligible for scholarship funding for the <strong>{{ data['choosenpq'] }}</strong> you must work in one of these settings in England: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>state-funded schools</li>
            <li>state-funded 16 to 19 organisations</li>
            <li>independent special schools</li>
            <li>virtual schools</li>
            <li>hospital schools</li>
            <li>young offender institutions</li>
          </ul>

          <div class="govuk-inset-text">
            From the answers you have given us you should be eligible for scholarship funding for the NPQ Early Years Leadership (NPQEYL). You can <a href="/choose-npq.html">go back and select the NPQEYL</a> or continue with your registration for {{ data.register.course }}.
          </div>

      {% endif %}


      {{ govukButton({
        text: "Continue",
        href: "how-pay"
      }) }}

    </div>
  </div>



{% endblock %}
