{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  DfE scholarship funding is not available
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Funding </h1>

      <p>You’re not eligible for scholarship funding for {{ data['choosenpq']}} NPQ because you do not work in England.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">This means that you would need to pay for the course another way.</p>

      {{ govukButton({
        text: "Continue",
        href: "how-pay?referrer=not-funded"
      }) }}
    </div>
  </div>
{% endblock %}
