{% extends "layout.html" %}


{% block pageTitle %}
  If your provider accepts your application, you’ll qualify for DfE funding
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        If your provider accepts your application, you’ll qualify for DfE funding
      </h1>
      <h2 class="govuk-heading-s">From the information you have provided, DfE scholarship
        funding should be available as well as additional funding for your school</h2>

      <p>PLACEHOLDER COPY: DfE targeted support funding is available for your school. Your school will
      receive £600 to help cover the costs that may emerge from the time you need to do an NPQ.</p>

      <p>You’ll only be eligible for DfE funding for each NPQ once. If you start an NPQ,
        and then withdraw or fail, you will not be funded again for the same course.</p>


      {{ govukButton({
        text: "Continue",
        href: "/choose-provider"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="already-funded">User has already been funded</a></p>
          <p><a href="funding-vague">User is not eligible for targeted support funding</a></p>
        </div>
      </details>

    </div>
  </div>



{% endblock %}
