
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Find a teaching school hub near you
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find a teaching school hub near you</h1>

      <p>Teaching school hubs deliver national professional qualifications (NPQs).</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what NPQs they deliver</li>
        <li>who they partner with to deliver NPQs (their ‘lead provider’)</li>
      </ul>


      <p class="govuk-body govuk-!-margin-bottom-6">You can also contact teaching school hubs for advice on choosing an NPQ.</p>

      <form class="form" action="select-npq" method="post">
        {{ govukInput({
          label: {
            text: "Where do you live?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter the town, city or the first part of the postcode. For example, Chester or CH1."
          },
          id: "tshlocation",
          name: "tshlocation"
        }) }}

        {{ govukButton({

          text: "Continue"

        }) }}
      </form>


    </div>
  </div>


  <div class="govuk-panel app-panel--interruption">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m">
          Your feedback
        </h2>
        <p>
          <a href="#">Give feedback</a> to help us improve this service.
        </p>
      </div>

    </div>
  </div>

{% endblock %}
