{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">

        <h4 class="moj-side-navigation__title">Applications</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/applications" class="govuk-!-font-size-16">All applications</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/registrations-review" class="govuk-!-font-size-16">In review</a>
          </li>





      <h4 class="moj-side-navigation__title">Lorelai Gilmore</h4>



        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
            <a href="overview" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="app-history.html" class="govuk-!-font-size-16">Application history</a>
          </li>


          <li class="moj-side-navigation__item">
            <a href="/admin-v3/registration-1/app-history.html" class="govuk-!-font-size-16">OLD application history</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="change-log" class="govuk-!-font-size-16">OLD admin change log</a>
          </li>



 
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Application history</h1>
      <br>



      <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>Email:</strong> gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-2"><strong>User ID:</strong> 123456 ( <a href="">View user</a>)</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 <strong class="govuk-tag govuk-tag--green"> Verified</strong></p>


      <br>
      <br>


      <div class="moj-timeline">
        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application requires confirmation</h2>
      
            <p class="moj-timeline__byline">by Joe Bloggs</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
          </p>
      
        </div>
      
        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application review in progress</h2>
      
            <p class="moj-timeline__byline">by Caseworker 1</p>
          
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
          </p>

          <br> 
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                View application details
              </span>
            </summary>
            <div class="govuk-details__text">
              We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
            </div>
          </details>
      
          <div class="moj-timeline__description">Your application is being reviewed by one of our case workers.</div>
      
        </div>
      
        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">First received</h2>
      
            <p class="moj-timeline__byline">by Caseworker 1</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
          </p>
      
          <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>
      
        </div>
      
        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application submitted</h2>
      
            <p class="moj-timeline__byline">by Joe Bloggs</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:45:00.000Z">28 May 2019 at 10:45am</time>
          </p>
      
          <div class="moj-timeline__description">
            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Application details
                </span>
              </summary>
              <div class="govuk-details__text">
                Ut quam nunc, vulputate ac metus pharetra, posuere maximus velit. <a class="govuk-link" href="#">Etiam nec interdum velit.</a> Suspendisse molestie lectus in eros ornare
              </div>
            </details>
          </div>
      
        </div>

        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">First received</h2>
      
            <p class="moj-timeline__byline">by Caseworker 1</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
          </p>
      
          <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>
      
        </div>

        <div class="moj-timeline__item">
      
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">First received</h2>
      
            <p class="moj-timeline__byline">by Caseworker 1</p>
      
          </div>
      
          <p class="moj-timeline__date">
            <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
          </p>
      
          <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>
      
        </div>
      
        
      
        
  



       
     
   
{% endblock %}
