{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Financial statement 247, June 2025</h1>

      <details class="govuk-details">
        
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contract information
          </span>
        </summary>
        <div class="govuk-grid-column-three-quarters"> 
        <table class="govuk-table">
          
          <caption class="govuk-table__caption govuk-table__caption--m">Course information</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Amount</th>
              <th scope="col" class="govuk-table__header">Amount</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First 6 weeks</th>
              <td class="govuk-table__cell">£109.80 per week</td>
              <td class="govuk-table__cell">£109.80 per week</td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Next 33 weeks</th>
              <td class="govuk-table__cell">£109.80 per week</td>
              <td class="govuk-table__cell">£109.80 per week</td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total estimated pay</th>
              <td class="govuk-table__cell">£4,282.20</td>
              <td class="govuk-table__cell">£109.80 per week</td>

            </tr>
          </tbody>
        </table> 
      </div>
      </details>

      <div class="govuk-grid-column-three-quarters"> 
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Statement 247, June 2025
          </h2>
          <a class="govuk-link" href="#"><strong>Save as PDF</strong><span class="govuk-visually-hidden"><strong>PDF</strong></span></a>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age
              </dt>
              <dd class="govuk-summary-list__value">
                38
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                UK national resident in UK
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Working situation
              </dt>
              <dd class="govuk-summary-list__value">
                Part time – less than 30 hours a week
              </dd>
              
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Total amounts
          </h2>
        </div>
        <div class="govuk-summary-card__content">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              The payment .. deadline / last date for payment .. is on the 15 Dec 2024.
            </strong>
          </div>



          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details known
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Relationship to lead tenant
              </dt>
              <dd class="govuk-summary-list__value">
                Partner
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age
              </dt>
              <dd class="govuk-summary-list__value">
                42
              </dd>
               
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Working situation
              </dt>
              <dd class="govuk-summary-list__value">
                Unable to work because of long-term sickness or disability
              </dd>
              
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Summary
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details known
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
               
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Relationship to lead tenant
              </dt>
              <dd class="govuk-summary-list__value">
                Child
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age
              </dt>
              <dd class="govuk-summary-list__value">
                7
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Voids
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">View voids<span class="govuk-visually-hidden"> working situation (Person 3)</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Course total
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <table class="govuk-table">
          
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date</th>
                  <th scope="col" class="govuk-table__header">Amount</th>
                  <th scope="col" class="govuk-table__header">Amount</th>
                  <th scope="col" class="govuk-table__header">Amount</th>

    
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">First 6 weeks</th>
                  <td class="govuk-table__cell">£109.80 per week</td>
                  <td class="govuk-table__cell">£109.80 per week</td>
                  <td class="govuk-table__cell">£109.80 per week</td>
    
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                  <td class="govuk-table__cell">£109.80 per week</td>
                  <td class="govuk-table__cell">£109.80 per week</td>
                  <td class="govuk-table__cell">£109.80 per week</td>
    
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total estimated pay</th>
                  <td class="govuk-table__cell">£4,282.20</td>
                  <td class="govuk-table__cell">£109.80 per week</td>
                  
    
                </tr>
              </tbody>
            </table> 
             
             
            </div>
          </dl>
        </div>
      </div>





    </div>

       

    </div>
  </div> 
{% endblock %}
