{% extends "layout.html" %}

{% block pageTitle %}
  Did a university, SCITT or school award your QTS??
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/gai/gai-answers" method="post">
        {% set howqtsHtml %}

          {{ govukInput({
            id: "howqts",
            name: "howqts",
            classes: "govuk-!-width-full-width",
            isPageHeading: false,
            label: {
              text: "Where did you get your QTS?",
              classes: "govuk-body govuk-!-font-weight-bold"
            },
            hint:{
              text: "Your university, SCITT, school or other training provider"
            }
          }) }}

          {% endset -%}

        {{ govukRadios({
          name: "how-qts",
          fieldset: {
            legend: {
              text: "Did a university, SCITT or school award your QTS?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              text: "Yes",
              conditional: {
                html: howqtsHtml
              }
            },
            {
              value: "Other",
              text: "No, I was awarded a QTS another way"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>



    </div>
  </div>

{% endblock %}
