.govuk-width-one-fifth {
  width: 20%;
}

.float-r {
  float: right;
}

.govuk-colour-white {
  color: #ffffff;
}

.display-none {
  display: none;
}

.govuk-table {
  font-size: 19px;
  font-size: 1.1875rem !important;
  line-height: 1.3157894737;
}

.govuk-tag {
  max-width: 200px;
}

.header-minus-margin {
  margin-bottom: -10px !important;
}

code {
  background-color: #f3f2f1;
  font-family: monospace;
  padding: 2px 5px;
}

.width1 {
  display: inline-block;
}