{% extends "layout.html" %}
{% set signedIn = 'true' %}


{% block pageTitle %}
  If your provider accepts your application, you’ll qualify for DfE scholarship funding
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Funding 
      </h1>
      <p>You’re eligible for scholarship funding for the Early headship coaching offer (EHCO).</p>
      <p class="govuk-body govuk-!-margin-bottom-7">This means that you will not have to pay for the EHCO.</p>


      {{ govukButton({
        text: "Continue",
        href: "../choose-provider"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="ehco-not-funded">Not eligible for funding - not in first 5 years of headship</a></p>
          <p><a href="ehco-already-funded">Not eligible for funding - already been funded</a></p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
