{% extends "layout-strat-des.html" %}

{% block pageTitle %}
  Strategic design testing
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Strategic design testing</h1>
      
      <h2 class="govuk-heading-m">Moment of choice</h2>
      <p><a href="npq-choice/find-courses">Find professional development courses</a></p>
      <p><a href="npq-choice/send">Scenario: skills gap in SEND</a></p>
      <p><a href="npq-choice/career-movement-dep-head">Scenario: career movement to deputy head</a></p>
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-m">Building the course</h2>
      <p><a href="build-an-npq/mandatory">Scenario: mandatory with options</a></p>
    </div>
  </div>
{% endblock %}
