{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your registration</h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change details"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Name",
          classes: 'govuk-!-width-one-half'
        },
        value: {
          html: "Mary Smith"
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          html: "mary.smith@email.com"
        }
      },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          html: "27 March 1987"
        }
      }
    ]
  }) }}

<div class="govuk-rows" style="margin-top: 60px">

</div>

  {{ govukTable({
    caption: "2022-2023 registrations",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {
        text: "Date"
      },
      {
        text: "Course"
      },
      {
        text: "Scholarship funding"
      },
      {
        text: "Lead provider"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "16 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Ambition Institute"
        },
        {
          html: '<a href="npqh-registration">More details</a>'
        }
      ],
      [
        {
          text: "16 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Church of England"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ],
      [
        {
          text: "15 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Teach First"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ]
    ]
  }) }}

  <div class="govuk-rows" style="margin-top: 60px">

  {{ govukTable({
    caption: "2021-2022 registrations",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {
        text: "Date"
      },
      {
        text: "Course"
      },
      {
        text: "Status"
      },
      {
        text: "Lead provider"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "13 July 2021"
        },
        {
          text: "Leading teaching NPQ"
        },
        {
          html:
          '<strong class="govuk-tag">
            completed
          </strong>'
        },
        {
          text: "UCL Institute of Education"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ],
      [
        {
          text: "24 June 2021"
        },
        {
          text: "Leading Teaching NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--grey">
            withdrawn
          </strong>'
        },
        {
          text: "Church of England"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ]
    ]
  }) }}


      <div class="govuk-inset-text" style="margin-top:50px">
        If you need to help with your application please contact <a href="mailto:continuing-professional-development@digital.education.gov.uk ">continuing-professional-development@digital.education.gov.uk</a>.
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            For prototype reference
          </span>
        </summary>
        <div class="govuk-details__text">
          <a href="registration-status">Example of a user with a single registration</a>
        </div>
      </details>

{% endblock %}
