{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
  Registration status
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your registration</h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change details"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Name",
          classes: 'govuk-!-width-one-half'
        },
        value: {
          html: "Mary Smith"
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          html: "mary.smith@email.com"
        }
      },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          html: "27 March 1987"
        }
      }
    ]
  }) }}

<div class="govuk-rows" style="margin-top: 60px">

</div>

  {{ govukTable({
    caption: "2022-2023 registrations",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {
        text: "Date"
      },
      {
        text: "Course"
      },
      {
        text: "Scholarship funding"
      },
      {
        text: "Lead provider"
      },
      {
        text: ""
      }
    ],
    rows: [
      [
        {
          text: "16 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Ambition Institute"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ],
      [
        {
          text: "16 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Church of England"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ],
      [
        {
          text: "15 March 2023"
        },
        {
          text: "Headship NPQ"
        },
        {
          html:
          '<strong class="govuk-tag govuk-tag--green">
            funded
          </strong>'
        },
        {
          text: "Teach First"
        },
        {
          html: '<a href="#">More details</a>'
        }
      ]
    ]
  }) }}


      <div class="govuk-inset-text" style="margin-top:50px">
        If you need to help with your application please contact <a href="mailto:continuing-professional-development@digital.education.gov.uk ">continuing-professional-development@digital.education.gov.uk</a>.
      </div>

{% endblock %}
