{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% set npqNameHTML %}
  {% if (data['choosenpq'] == "Early headship coaching offer") %}
    Early headship coaching offer
    {% else %}
      {{ data['choosenpq'] or "Executive leadership" }} NPQ
  {% endif %}
{% endset %}

{% set providerHTML %}
  {{ data['provider'] or "LLSE (Leadership Learning Securing Excellence)" }}
{% endset %}

{% set scholarshipfundingHtml %}
  <strong class="govuk-tag govuk-tag--yellow">
    Eligibility in review
  </strong>
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Your registration will be reviewed to check if you're eligible. Please contact your provider to find out the outcome.</p>
{% endset %}

{% block content %}
  {% set html %}
    <h3 class="govuk-notification-banner__heading">
      Registration successfully submitted
    </h3>
    <p class="govuk-body">Check the details of your registration and see next steps below.</p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

  <h1 class="govuk-heading-xl">
    {% if (data['choosenpq'] == "Early headship coaching offer") %}
      Your registration
    {% else %}
      Your NPQ registration
    {% endif %}
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: npqNameHTML
        },
        actions: {
          items: [
            {
              href: "change-course/choose-npq",
              text: "Change course"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: providerHTML
        },
        actions: {
          items: [
            {
              href: "change-provider/choose-provider",
              text: "Change provider"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--yellow">
              Apply with provider
            </strong>
            <p class="govuk-!-margin-top-2">You need to apply separately with your training provider, if you have not done so already. </p>'
        }
      },
      {
        key: {
          text: "Course status"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipfundingHtml
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      }
    },
    rows: [
      {
        key: {
          html: '<a href="https://get-an-identity-prototype.herokuapp.com/account/interstitial">Visit your DfE Identity account</a> to check or change your personal details.',
          classes: 'govuk-!-width-full govuk-!-font-weight-regular'
        }
      }
    ]
  }) }}

  {% include 'includes/registration-status/work-details.html' %}

  <div class="govuk-rows" style="margin-top: 60px">
    <h2 class="govuk-heading-l">Register for an NPQ</h2>
    <p>Use this service to submit a new registration</p>

    {{ govukButton({
      text: "Register for an NPQ",
      href: "/chosen"
    }) }}
  </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          For prototype reference
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Registration pages showing different funding statuses </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/registration-status/registration-status--scholarship-review">Funding – in review </a></li>
          <li><a href="/registration-status/registration-status">Eligible for Scholarship and Targeted support funding </a></li>
          <li><a href="/registration-status/registration-status--scholarship-only">Eligible for Scholarship funding only </a></li>
          <li><a href="/registration-status/registration-status--targeted-only">Eligible for Targeted support funding only </a></li>
          <li><a href="/registration-status/registration-status--not-funded-setting">Not eligible for funding – not the right setting </a></li>
          <li><a href="/registration-status/registration-status--not-funded-england">Not eligible for funding – not in England </a></li>
          <li><a href="/registration-status/registration-status--not-funded-ofsted">Not eligible for funding – not Ofsted </a></li>
        </ul>
        <h3 class="govuk-heading-s">Registration pages showing provider application and course statuses </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/registration-status/registration-status--scholarship-review">User with one registration </a></li>
          <li><a href="/registration-status/multiple-registrations">User with multiple registrations</a>  (showing all provider application and course statuses)</li>
        </ul>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/registration-status/registration-status--scholarship-review">Apply with provider</a></li>
          <li><a href="/registration-status/registration-status--scholarship-only">Course started</a></li>
          <li><a href="/registration-status/registration-status--not-funded-england">Successful application</a></li>
          <li><a href="/registration-status/registration-status--targeted-only">Unsuccessful application</a></li>
        </ul>
        <h3 class="govuk-heading-s">Other </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="email-complete">Confirmation email</a></li>
        </ul>
      </div>
    </details>


{% endblock %}
