{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}
{% set courseOutcome = "Started" %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your registrations",
    href: "/registration-status/multiple-registrations"
  }) }}
{% endblock %}

{% set coursedateHTML %}
  <p>Before November 2024</p>
  <p>If your provider doesn't confirm you've started the course before November 2024, your registration will expire. You can register again later, but your funding may change.</p>
{% endset %}
            
{% block content %}
  <span class="govuk-caption-m">Submitted	11 April 2023</span>
  <h1 class="govuk-heading-xl">
    Your leading teaching NPQ registration
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html:
            'Leading teaching NPQ'        },
        actions: {
          items: [
            {
              href: "/change-details",
              html: 'Change <span class="govuk-visually-hidden"> course</span>'
            }
          ]
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html:
            'Ambition Institute'        },
        actions: {
          items: [
            {
              href: "/change-details",
              html: 'Change <span class="govuk-visually-hidden"> provider</span>'
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Successful
            </strong>'
        }
      },
      {
        key: {
          text: "Course start"
        },
        value: {
          html: coursedateHTML
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Eligible
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You will not have to pay for the course fees.</p>'
        }
      }
    ]
  }) }}

  {% include 'includes/registration-status/work-details/ey-state-nursery.html' %}

  {% include 'includes/registration-status/register-for-another-npq.html' %}

  {% include 'includes/prototype-links.html' %}

{% endblock %}
