{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your registrations",
    href: "/registration-status/multiple-registrations"
  }) }}
{% endblock %}

{% set courseHTML %}
  {{ data['choosenpq'] or "Leading teacher development" }} NPQ
{% endset %}

{% set providerHTML %}
  {{ data['provider'] or "Teacher Development Trust" }}
{% endset %}

{% set scholarshipFundingHTML %}
  <!-- Not in England -->
  {% if data['wheredoyouwork'] == "No" %}
    <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you do not work in England. </p>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
  <!-- Works in England -->
  {% else %}
    <!-- --------------------------------
        School or a state-funded nursery 
      ----------------------------------- -->
    {% if ((data['whichsetting'] == "A school") or (data['whichsetting'] == "An academy trust") or (data['whichsetting'] == "A 16 to 19 educational setting")) %}
      <!-- Does not pick Early headship and isn't private school -->
      {% if ((data['choosenpq'] != "Early headship coaching offer") and (data['whichschool'] != "private") or (data['whichschool'] != "Private")) %}
        <strong class="govuk-tag govuk-tag--green">Eligible </strong>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
        {% elseif data['choosenpq'] == "Early headship coaching offer" %}
          {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
            <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% else %}
              <strong class="govuk-tag govuk-tag--green">Eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
          {% endif %}
        <!-- Private school in England -->
        {% elseif (data['whichschool'] == "private") or (data['whichschool'] == "Private") %}
          <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
          <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
          <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
      {% endif %}
      <!-- -------------
        Other setting 
      ----------------- -->
      {% elseif data['whichsetting'] == "Other" %}
        <!-- Is a mentor? -->
        {% if data['mentor'] == "As a lead mentor for an accredited initial teacher training (ITT) provider" %}
          {% if data['choosenpq'] == "Leading teacher development" %}
            <strong class="govuk-tag govuk-tag--green">Eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
            <!-- A mentor NOT doing NPQLTD -->
            {% else %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
          {% endif %}
          <!-- State-funded -->
          {% elseif ((data['mentor'] == "In a virtual school (local authority run organisations that support the education of children in care)") or (data['mentor'] == "In a hospital school") or (data['mentor'] == "In a young offender institution") or (data['mentor'] == "As a supply teacher employed by a local authority") and (data['choosenpq'] != "The Early Headship Coaching Offer")) %}
            {% if data['choosenpq'] == "Early headship coaching offer" %}
              {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
              {% endif %}
              {% else %}  
                <strong class="govuk-tag govuk-tag--green">Eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
            {% endif %}
          <!-- Other type of mention or no selection -->
          {% else %}
            {% if data['choosenpq'] == "Early headship coaching offer" %}
              {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
                <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
              {% endif %}
              {% else %} 
                <strong class="govuk-tag govuk-tag--yellow">Eligibility in review </strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Your registration will be reviewed to check if you're eligible. Please contact your provider to find out the outcome.</p>
              {% endif %}
            {% endif %}  
      <!-- -------------
        Private nursery 
      ------------------ -->
      {% elseif data['whichsetting'] == "Early years or childcare" %}
        <!-- with URN + NPQEYL -->
        {% if ((data['nurserysetting'] == "Local authority-maintained nursery") or (data['nurserysetting'] == "Pre-school class or nursery that’s part of a school (maintained or independent)")) %}
          {% if data['choosenpq'] == "Early headship coaching offer" %}
            {% if (data['headteachers'] == "No") or (data['earlyheadship'] == "No") %}
              <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You’re not eligible for scholarship funding for the Early headship coaching offer (EHCO). </p>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
            {% endif %}  
            {% else %}  
              <strong class="govuk-tag govuk-tag--green">Eligible </strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
          {% endif %}  
          {% elseif ((data['haveurn'] == "Yes") and (data['choosenpq'] == "Early years leadership")) %}
            <strong class="govuk-tag govuk-tag--green">Eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you will not have to pay for the course fees.</p>
          <!-- with URN not NPQEYL -->
          {% elseif ((data['haveurn'] == "Yes") and (data['choosenpq'] != "Early years leadership")) %}
            <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding as you do not work in one of the eligible settings, such as state-funded schools. </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
          <!-- no URN -->
          {% elseif data['haveurn'] == "No" %}
            <strong class="govuk-tag govuk-tag--red">Not eligible </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">You're not eligible for scholarship funding because you or your employer is not registered on the Ofsted Early Years Register or with a registered Childminder Agency. </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">This means that you would need to pay for the course another way.</p>
        {% endif %}
    {% endif %}
  {% endif %}
{% endset %}   

{% block content %}
  <h1 class="govuk-heading-xl">
    Your {{ data['choosenpq'] or "Leading teacher development" }} NPQ registration
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: courseHTML
        },
        actions: {
          items: [
            {
              href: "change-course/choose-npq",
              text: "Change course"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: providerHTML
        },
        actions: {
          items: [
            {
              href: "change-provider/choose-provider",
              text: "Change provider"
            }
          ]
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
          '<strong class="govuk-tag govuk-tag--yellow">
            Apply with provider
          </strong>
          <p class="govuk-!-margin-top-2">You need to apply separately with your training provider, if you have not done so already. </p>'
        }
      },
      {
        key: {
          text: "Course status"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--grey">
              Not started
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipFundingHTML
        }
      },
      {
        key: {
          text: "Targeted support funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              Eligible
            </strong>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Your workplace will receive £200 to support you to do this NPQ.</p>'
        }
      }
    ]
  }) }}

  {% include 'includes/registration-status/work-details.html' %}

  <div class="govuk-rows" style="margin-top: 60px">
    <h2 class="govuk-heading-l">Register for an NPQ</h2>
    <p>Use this service to submit a new registration</p>

    {{ govukButton({
      text: "Register for an NPQ",
      href: "/chosen"
    }) }}
  </div>

  {% include 'includes/prototype-links.html' %}

{% endblock %}
