{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Your registration</h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change personal details"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Name",
          classes: 'govuk-!-width-one-half'
        },
        value: {
          html: "Mary Smith"
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          html: "mary.smith@email.com"
        }
      },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          html: "27 March 1987"
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change course"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Course",
          classes: 'govuk-!-width-one-half'
        },
        value: {
          html: "Leading teaching NPQ"
        }
      },
      {
        key: {
          text: "Registration"
        },
        value: {
          html:
            '<strong class="govuk-tag">
              submitted
            </strong>'
        }
      },
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              funded
            </strong>'
        }
      },
      {
        key: {
          text: "Targeted support funding"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--green">
              funded
            </strong>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Provider details"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change provider"
          }
        ]
      }
    },
    rows: [
      {
        key: {
          text: "Provider",
          classes: 'govuk-!-width-one-half'
        },
        value: {
          html: "Ambition Institute"
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag">
              submitted
            </strong>'
        }
      }
    ]
  }) }}

      <div class="govuk-inset-text" style="margin-top:50px">
        If you need to help with your application please contact <a href="mailto:continuing-professional-development@digital.education.gov.uk ">continuing-professional-development@digital.education.gov.uk</a>.
      </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          For prototype reference
        </span>
      </summary>
      <div class="govuk-details__text">
        <a href="multiple-registrations-1">Example of a user with multiple registrations</a>
      </div>
    </details>

{% endblock %}
