{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set signedIn = 'true' %}

{% block pageTitle %}
  Registration status
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your registrations",
    href: "/registration-status/multiple-registrations"
  }) }}
{% endblock %}

{% set npqNameHTML %}
  {% if (data['choosenpq'] == "Early headship coaching offer") %}
    Early headship coaching offer
    <p class="govuk-body-s govuk-!-margin-top-2">To change your course, you need to <a href="/chosen">submit a new registration</a>.</p>
    {% else %}
      {{ data['choosenpq'] or "Executive leadership" }} NPQ
      <p class="govuk-body-s govuk-!-margin-top-2">To change your course, you need to <a href="/chosen">submit a new registration</a>.</p>
  {% endif %}
{% endset %}

{% set providerHTML %}
  {{ data['provider'] or "LLSE (Leadership Learning Securing Excellence)" }}
  <p class="govuk-body-s govuk-!-margin-top-2">To change your provider, you need to <a href="/chosen">submit a new registration</a>.</p>
{% endset %}

{% set scholarshipfundingHtml %}
  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">Contact your provider to check if you're eligible for scholarship funding, if you have not done so already.</p>
{% endset %}

{% block content %}

  <span class="govuk-caption-m">Submitted 16 June 2023</span>

  <h1 class="govuk-heading-xl">
    Your Executive leadership NPQ registration
  </h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Course details"
      }
    },
    rows: [
      {
        key: {
          text: "Course"
        },
        value: {
          html: npqNameHTML
        }
      },
      {
        key: {
          text: "Provider"
        },
        value: {
          html: providerHTML
        }
      },
      {
        key: {
          text: "Provider application"
        },
        value: {
          html:
            '<strong class="govuk-tag govuk-tag--yellow">
              Apply with provider
            </strong>
            <p class="govuk-!-margin-top-2">You need to apply separately with your training provider, if you have not done so already. </p>'
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Funding details"
      }
    },
    rows: [
      {
        key: {
          text: "Scholarship funding"
        },
        value: {
          html: scholarshipfundingHtml
        }
      }
    ]
  }) }}

  {% include 'includes/registration-status/work-details/other.html' %}

  {% include 'includes/registration-status/register-for-another-npq.html' %}

  {% include 'includes/prototype-links.html' %}

{% endblock %}
