
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Professional development for teachers and leaders
      </h1>
      <p class="govuk-!-font-size-24" style="margin-top: -10px; margin-bottom: 40px">
        Choose a professional development option to improve your skills, increase your confidence or help you progress to a more senior role.
      </p>

      </div>

    </div>


  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
      <div style="background-color:#F3F2F1; padding: 20px;">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-4">
          Broaden your expertise
        </h3>
        <p class="govuk-!-margin-bottom-2">Take a specialist national professional qualification (NPQ) to develop your existing skills and knowledge.</p>
        <p>Discover the following specialist NPQs:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Leading teaching</li>
          <li>Leading behaviour and culture</li>
          <li>Leading literacy</li>
          <li>Leading teacher development</li>
        </ul>
        {{ govukButton({
          text: "View specialist NPQs",
          href: "snpqs"
        }) }}
      </div>
    </div>

  </div>



  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 20px;">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-3">
          Develop your leadership skills
        </h3>
        <p class="govuk-!-margin-bottom-2">Take a leadership NPQ to boost your knowledge and confidence as you progress into more senior roles.</p>
        <p>Discover the following leadership NPQs:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Senior leadership</li>
          <li>Headship</li>
          <li>Executive leadership</li>
          <li>Early years leadership</li>
        </ul>

        <p>Or get extra support as a new head teacher through the Early headship coaching offer.</p>
        {{ govukButton({
          text: "View leadership NPQs",
          href: "lnpqs"
        }) }}
      </div>
    </div>


  </div>


  <div class="govuk-grid-row" style="margin-top: 20px">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="funding">Funding</h2>

      <p>NPQs are currently fully funded by the Department for Education (DfE) for eligible participants.</p>

      <p><a href="/pdtl/funding">Learn about funding</a>.</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-l">Apply for an NPQ</h2>
      <p>Five steps to start your NPQ or the Early headship coaching offer.</p>
      {{ govukButton({
        text: "Steps to apply",
        classes: "govuk-button--secondary",
        href: "application-process"
      }) }}
    </div>
  </div>

<!-- YOUTUBE VIDEOS -->
<!-- Needs to be reviewed against GDS guidelines as these state that promotional videos shouldn't be
  added to information pages -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-l">What participants say about NPQs</h2>
      <p>Hear from previous NPQ participants in the videos below.</p>
      <div style="padding-top: 20px; padding-bottom: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0BhLUJk9hBc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div style="padding-bottom: 40px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U5_-cMudj7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-top-5">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 40px;">
      <h2 class="govuk-heading-m govuk-!-padding-top-1">
        If you coordinate professional development
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://professional-development-for-teachers-leaders.education.gov.uk/public/files/npq-campaign.pdf">Download or print an NPQ prospectus</a> to share with colleagues in your organisation.</p>
    </div>
  </div>
  </div>


  {% include '../includes/pdtl/survey.html' %}

{% endblock %}
