{{ mojPrimaryNavigation({
label: 'Primary navigation',
items: [
  {
    text: 'Dashboard',
    href: './dashboard'
  },  
  {
    text: 'Registrations',
    href: './registrations'
  },
  {
    text: 'Courses',
    href: './courses'
  },
  {
    text: 'Participants',
    href: './participants'
  },
  {
    text: 'Finance',
    href: './finance'
  },
  {
    text: 'Schools',
    href: './schools'
  },
  {
    text: 'Lead providers',
    href: './lead-providers'
  },
  {
    text: 'Settings',
    href: './settings'
  }
]
}) }}
