{% extends "layout.html" %}


{% block header %}
  {% include 'includes/admin-console/header.html' %}

  {% include 'includes/admin-console/primary-navigation.html' %}

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/admin-console/npq-applications-edge"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukNotificationBanner({
        text: "Annamaria Green's details have been updated successfully.",
        type: 'success'
      }) }}
      {% include 'includes/admin-console/applicant1.html' %}
    </div>
  </div>



{% endblock %}
