{% extends "layout.html" %}


{% block header %}
  {% include 'includes/admin-console/header.html' %}

  {% include 'includes/admin-console/primary-navigation.html' %}

{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Annamaria Green</h1>

      <form class="form" action="applicant-success" method="post">

        {{ govukTextarea({
          name: "notes1",
          id: "notes1",
          value: "This would show previous comments made about this participant",
          label: {
            text: "Notes",
            classes: "govuk-label--m"
          }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm changes"
          }) }}

          <a class="govuk-link" href="applicant">Cancel</a>
        </div>

      </form>

    </div>
  </div>



{% endblock %}
