{% extends "layout.html" %}


{% block header %}
  {% include 'includes/admin-console/header.html' %}

  {% include 'includes/admin-console/primary-navigation.html' %}

{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Annamaria Green</h1>

      <form class="form" action="applicant-success" method="post">

        {{ govukRadios({
          name: "admincode1",
          fieldset: {
            legend: {
              text: "What is their funding eligibility status code?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Not eligible for funding",
              text: "Not eligible for funding"
            },
            {
              value: "Awaiting more information",
              text: "Awaiting more information"
            },
            {
              value: "Needs to re-register",
              text: "Needs to re-register"
            }
          ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm changes"
            }) }}

            <a class="govuk-link" href="applicant">Cancel</a>
          </div>

      </form>

    </div>
  </div>



{% endblock %}
