{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Request an email to tell you when registration reopens
{% endblock %}

{% block beforeContent %}
  {%- if not data['signedIn'] -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {%- endif -%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Request an email to tell you when registration reopens</h1>
    <p class="govuk-body govuk-!-margin-bottom-8">Registration usually reopens in the summer. When registration reopens, use this service to register for a NPQ or the early headship coaching offer starting before November 2024. </p>
    <form class="form" action="/registration-status/registration-opening-email-confirmation" method="post">
      {{ govukRadios({
        name: "eoi-senco",
        fieldset: {
          legend: {
            text: "Do you want to do the Special educational needs co-ordinator (SENCO) NPQ?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Create email alert"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
