{% extends "layout.html" %}

{% set title %}
  You’ve signed in to your DfE Identity account 
{% endset %}

{% set hideBackLink = true %}

{% block content %}
  <div class="govuk-panel app-panel--interruption">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
  
        <h1 class="govuk-heading-l">{{ title }}</h1>

        <p>Continue to <strong>Register for a national professional qualification</strong>. </p>
  
        <form class="form" action="/identity-redirect-npq" method="post">
          {{ govukButton({
            html: 'Continue',
            classes: 'app-button--inverse govuk-!-margin-bottom-0'
          }) }}
        </form>
       
      </div>
    </div>
  </div>
{% endblock %}