
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Find an NPQ provider near you
{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "professional-development-for-teachers-and-leaders-2"
    },
    {
      text: "Find a teaching school hub",
      href: "start-finder"
    }

    ]
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="select-npq" method="post">
        {{ govukInput({
            label: {
              text: "Where do you live?",
              classes: "govuk-label--xl",
              isPageHeading: true
            },
            hint: {
              text: "Enter the town, city or the first part of the postcode. For example, Chester or CH1."
            },
            id: "tshlocation",
            name: "tshlocation"

          }) }}


        {{ govukButton({

          text: "Continue"

        }) }}
      </form>


    </div>
  </div>


  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
