
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}

{% block pageTitle %}
  Headship NPQ
{% endblock %}


{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "professional-development-for-teachers-and-leaders"
  }

  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-24" style="color:#505a5f; padding-bottom: 1px">National professional qualification</p>
      <h1 class="govuk-heading-xl" style="padding-top: 1px">
        Headship
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-1">
                Course overview
              </a>
            </li>

            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="headship-2">
                Who this course is for
              </a>

            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="headship-3">
                What you’ll learn
              </a>
            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-4">
                How you and your school could benefit
              </a>
            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-5">
                  Course structure
              </a>
            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-6">
                Providers
              </a>
            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">

                Assessment

            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-8">
                Funding
              </a>
            </li>

            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="headship-9">
                Apply
              </a>
            </li>

          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">

      <h2 class="govuk-heading-l">Assessment</h2>

      <p>To get your NPQ accreditation you’ll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete the course</li>
        <li>pass a written assessment (2,500 words) at the end</li>
      </ul>
      <p>Your provider will be able to give you more details about how the assessment works.</p>


      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="headship-6" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Providers
              </span>
            </a>
          </li>
          <li class="app-pagination__item app-pagination__item--next">
            <a href="headship-8" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Funding
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="/pdtl/headship">
          View a printable version of the whole guide
        </a>
      </p>

    </div>



</div>

<div class="govuk-panel app-panel--interruption">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m">
        Your feedback
      </h2>
      <p>
        <a href="#">Give feedback</a> to help us improve this service.
      </p>
    </div>

  </div>
</div>

{% endblock %}
