{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">

        <h4 class="moj-side-navigation__title">Applications</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/applications" class="govuk-!-font-size-16">All applications</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="/admin-v3/registrations-review" class="govuk-!-font-size-16">In review</a>
          </li>

      <h4 class="moj-side-navigation__title">Lorelai Gilmore</h4>

        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
            <a href="overview" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-details.html" aria-current="location" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history.html" class="govuk-!-font-size-16">Application history</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="admin-changelog.html" class="govuk-!-font-size-16">Admin change log</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Admin change log</h1>
      <br>



      <h1 class="govuk-heading-m govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>Email:</strong> gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-2"><strong>Applicant ID:</strong> 123456 ( <a href="">View applicant</a>)</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 (Validated)</p>

      <br>
      <br>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Console user</th>
            <th scope="col" class="govuk-table__header">Update</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br> 4 Feb 2025 <br> 11:11pm </td>
            <td class="govuk-table__cell">[name of admin]</td>
            <td class="govuk-table__cell"><strong>The action of what the admin user has done </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br> 4 Feb 2025 <br> 11:11pm </td>
            <td class="govuk-table__cell">[name of admin]</td>
            <td class="govuk-table__cell"><strong>The action of what the admin user has done </strong> <br> <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
              </div>
            </details></td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br> 4 Feb 2025 <br> 11:11pm </td>
            <td class="govuk-table__cell">[name of admin]</td>
            <td class="govuk-table__cell"><strong>The action of what the admin user has done </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br> 4 Feb 2025 <br> 11:11pm </td>
            <td class="govuk-table__cell">[name of admin]</td>
            <td class="govuk-table__cell"><strong>The action of what the admin user has done </strong></td>
          </tr> <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br> 4 Feb 2025 <br> 11:11pm </td>
            <td class="govuk-table__cell">[name of admin]</td>
            <td class="govuk-table__cell"><strong>The action of what the admin user has done </strong></td>
          </tr>
        </tbody>
      </table>



      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">

        <div class="moj-search">

          <form action="#" method="post">
        
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Add a note to the change log (optional)
              </label>

              <div id="more-detail-hint" class="govuk-hint">
                This information is for internal use only
              </div>
        
              <div class="govuk-input-wrapper" style="display: flex; align-items: center;">
                <input class="govuk-input moj-search__input" id="search" name="search" type="search" aria-describedby="search-hint">
                <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button" style="margin-left: 10px; vertical-align: middle;">
                  Add 
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
       
     
   
{% endblock %}
