{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Re-register") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Awaiting information") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--blue"
    })}}
  {% endif %}
  {% endset %}

  {% set providerStatusHTML %}
  {% if (data['registration1--provider-status'] == "Pending") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% elseif (data['registration1--provider-status'] == "Approved") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set fundingStatusHTML %}
  {% if (data['registration1--review-status'] != "Decision made") %}
    –
  {% elseif (data['registration1--funding-status'] == "Yes") %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set ineligiblereasonHTML %}
    {% if (data['registration1--ineligible-reason'] == "Other") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--other'] }}
    {% elseif (data['registration1--ineligible-reason'] == "Not an eligible establishment type") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--establishment'] }}
    {% else %}
      {{ data['registration1--ineligible-reason'] }} 
    {% endif %}
  {% endset %}

  {% set apiHTML %}
    <pre><code>{ 
  "data": { 
    "id": "74d6ca58-45ee-494f-a0c9-ce64800350fe", 
      "type": "npq_application", 
      "attributes": { 
        "course_identifier": "npq-senco", 
        "email": "bhavishasoma@yahoo.co.uk", 
        "email_validated": true, 
        "employer_name": null, 
        "employment_role": null, 
        "full_name": "Bhavisha Soma", 
        "funding_choice": null, 
        "headteacher_status": null, 
        "ineligible_for_funding_reason": null, 
        "participant_id": "9ea1765d-cee9-4eb1-8e01-d728a6b9fefd", 
        "private_childcare_provider_urn": null, 
        "teacher_reference_number": "1154737", 
        "teacher_reference_number_validated": true, 
        "school_urn": "138621", 
        "school_ukprn": "10038682", 
        "status": "accepted", 
        "works_in_school": true, 
        "funded_place": true, 
        "created_at": "2024-08-09T12:29:10Z", 
        "updated_at": "2024-08-09T13:10:05Z", 
        "cohort": "2024", 
        "eligible_for_funding": true, 
        "targeted_delivery_funding_eligibility": false, 
        "teacher_catchment": true, 
        "teacher_catchment_iso_country_code": "GBR", 
        "teacher_catchment_country": "United Kingdom of Great Britain and Northern Ireland", 
        "itt_provider": null, 
        "lead_mentor": false, 
        "schedule_identifier": "npq-leadership-autumn" 
      }
    }
 }</code></pre>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h4 class="moj-side-navigation__title">Applications</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
            <a href="overview" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="ltd-130824" aria-current="location" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-history.html" class="govuk-!-font-size-16">Application history</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="admin-changelog.html" class="govuk-!-font-size-16">Admin change log</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>Applicant ID:</strong> 123456</p>
      <p class="govuk-!-margin-bottom-2"><strong>Email:</strong> gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-2"><strong>Date of birth:</strong> 30 October 2020 | <strong> National Insurance: </strong> JH576827D</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 (validated)</p>
      <p class="govuk-!-margin-bottom-6"><strong>Get an Identity ID: </strong>11ab2c36-55f8-00r3-776f-56781jj03214o</p>



      {{ govukSummaryList({
        card: {
          title: {
            text: 'Application overview',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "reg-app",
                text: "View details",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Application ID"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Course"
            },
            value: {
              text: "Leading teacher development NPQ"
            }
          },
          {
            key: {
              text: "Course provider"
            },
            value: {
              html: reviewStatusHTML
            }
          },
          {
            key: {
              text: "Training status"
            },
            value: {
              text: "Active"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change status",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              html: govukDetails({
                text: apiHTML
              })
            }
            
          }
          
          
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Workplace details',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View participant",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Workplace"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Private childcare provider URN"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Headteacher status / employment type"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Employer name"
            },
            value: {
              text: providerStatusHTML
            },
            actions: {
              items: [
              ]
            }
          },
          
          {
            key: {
              text: "ITT lead mentor"
            },
            value: {
              text: "No"
            }
          },
          {
            key: {
              text: "ITT provider"
            },
            value: {
              text: "N/A"
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              html: providerStatusHTML
            },
            actions: {
              items: [
                
              ]
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: data['registration1--provider']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Funding eligibility',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
        {
          key: {
            text: "Eligible for funding"
          },
          value: {
            text: "Primary establishment"
          }
        },
        {
          key: {
            text: "Targeted support (Primary Plus)"
          },
          value: {
            text: "12345"
          }
        },
        {
          key: {
            text: "Schedule"
          },
          value: {
            text: "testttt"
          }
        },
          {
            key: {
              text: "Notes"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "View outcome",
                  visuallyHiddenText: "view course outcome"
                }
              ]
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "enrollment"
                }
              ]
            }
          },
          {
            key: {
     
            },
            value: {
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "DELETE"
                }
              ]
            }
          },
          {
            key: {
              text: "DELETE"
            },
            value: {
              text: "test"
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-notes",
                  text: "Change",
                  visuallyHiddenText: "Lead provider approval"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Declarations',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
        {
          key: {
            text: "Role"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Employment type"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Training status"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Private childcare provider URN
            "
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Headteacher status
            "
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Number of pupils
            "
          },
          value: {
            text: "Value"
          }
        },
          {
            key: {
              text: "School URN"
            },
            value: {
              html: fundingStatusHTML
            },
            actions: {
              items: [
                {
                  href: " ",
                  text: "View",
                  visuallyHiddenText: "school urn"
                }
              ]
            }
          },
          {
            key: {
              text: "School UKPRN"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "ITT lead mentor"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "ITT provider"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Works in England"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Works setting"
            },
            value: {
              text: data['registration1--funded-place']
            }
          }
        ]
      }) }}

     
   
{% endblock %}
