{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="ambition.html" aria-current="location">Ambition Institute</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="bpn.html">Best Practice Network</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href=" ">Church of England</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href=" ">LLSE</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="   ">National Institute of Teaching</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href=" ">Teach First</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href=" ">Teacher Development Trust</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href=" ">UCL Institute of Education</a>
          </li>

         
          

        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <br>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Course providers</h1>
      <br>

      <p>
        Here is a list of all providers that currently deliver NPQ courses. <br> Select a course provider to review all the delivery partners that <br> help them deliver NPQs. 
      </p>

    </div>





    







    </div>
  </div>
{% endblock %}
