{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Courses</h1>

      <p class="govuk-body"><a href="/admin-v3/courses.html">Original course page</a></p>

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Additional support offer for headteachers',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Early years leadership',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Executive leadership',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Headship',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading behaviour and culture',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading literacy',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading primary mathematics',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading teaching developement',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading  teaching',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Early headship coaching offer',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
            ]
          }
        },
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: "9"
            }
          },
          {
            key: {
              text: "Identifier"
            },
            value: {
              text: "npq-early-registration"
            }
          },
          {
            key: {
              text: "Position"
            },
            value: {
              text: "3"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "..."
              
            }
          },
          {
            key: {
              text: "Display"
            },
            value: {
              html: govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })
            }
          }    
        ]
      }) }}

      

     


      





    </div>
  </div>
{% endblock %}
