{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Course providers</h1>
      <p class="govuk-body">Here is a list of all providers that currently deliver courses. Select a provider to view all the statements that they are associated with.


      <p><a href="finance-ambition.html">Ambition institute</a></p>

      <p><a href="">Best Practice Network</a></p>
      
      <p><a href="">Church of England</a></p>

      <p><a href="">LLSE</a></p>

      <p><a href="">National Institute of Teaching</a></p>

      <p><a href="">Teach First</a></p>

      <p><a href="">Teacher Development Trust</a></p>

      <p><a href="">UCL Institute of Education</a></p>

    







    </div>
  </div>
{% endblock %}
