{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Courses</h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with nationality
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Course</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green"> Finished </strong></td> 
              </tr>
            </tbody>
          </table>

        </div>
      </details>



     


      





    </div>
  </div>
{% endblock %}
