{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Availible courses</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Course name</th>
            <th scope="col" class="govuk-table__header">Course provider</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Additional support offer for new headteachers </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Early years leadership</a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Executive leadership </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Headship </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Leading behaviour and culture </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Leading literacy</a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Leading primary mathematics </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Leading teaching development </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Leading teaching </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">Early headship coaching offer </a></td>
            <td class="govuk-table__cell"> Ambition instiute  </td>
          </tr>
        </tbody>
      </table>






    </div>
  </div>
{% endblock %}
