{% extends "layout-admin.html" %}

{% block content %}
  


<p class="govuk-body"><a href="dashboard.html">Original dashboard </a></p>

      
      <br>
      <br>

      <p class="govuk-body">Example of using a chart for the dashboard. The course and course providers are split into 2. The chart can be viewed accessibly through a table.</p>


      <img src="/public/images/dashboard.png" alt="."> 

      <br>
      <br>

      <p class="govuk-body">Example of using a chart for the dashboard. The course and course providers are both on the same page. The chart can be viewed accessibly through a table.</p>


      <img src="/public/images/both-charts.png" alt="."> 

      <br>
      <br>

      <p class="govuk-body">Example of using accessible table.</p>


      <img src="/public/images/access-table.png" alt="."> 









    
      














    </div>
  </div>
{% endblock %}
