{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="dashboard.html" aria-current="location" class="govuk-!-font-size-16">Course</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="dashboard-2"  class="govuk-!-font-size-16">Course providers</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

      

      <!-- <h1 class="govuk-heading-l">Dashboard</h1> -->

      <p class="govuk-body">This page is for xyz...Perhaps add a short summary of what the page is showing.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Course provider</th>
            <th scope="col" class="govuk-table__header">Registrations recieved</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ambition instiute</td>
            <td class="govuk-table__cell">5563</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Best practice network</td>
            <td class="govuk-table__cell">6563</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Church of England</td>
            <td class="govuk-table__cell">1760</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">LLSE</td>
            <td class="govuk-table__cell">111</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Leading teacher development</td>
            <td class="govuk-table__cell">2321</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">National institute of teaching</td>
            <td class="govuk-table__cell">2563</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Teach first</td>
            <td class="govuk-table__cell">563</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Teacher development trust</td>
            <td class="govuk-table__cell">3563</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">UCL institute of education</td>
            <td class="govuk-table__cell">563</td>
          </tr>
        </tbody>
      </table>



    
      














    </div>
  </div>
{% endblock %}
