{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="" aria-current="location" class="govuk-!-font-size-16">Course </a>
          </li>
          <li class="moj-side-navigation__item">
            <a href=" " class="govuk-!-font-size-16">Course providers</a>
          </li>
          
        </ul>
      </nav> 
    </div>
    <div class="govuk-grid-column-three-quarters">

      

    <h1 class="govuk-heading-l">Dashboard</h1> 

      <p class="govuk-body">You can review the number of applications received for each course. Select the academic year you wish to view.</p>

      <div style="background-color: #f3f2f1; padding: 20px 15px; margin-bottom: 30px;">
        <form action="" accept-charset="UTF-8" method="get">
            <div style="display: flex; margin-left: -14px">
              
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Academic year:</label>
                <select id="employment-type-field" class="govuk-select" name="Academic year"><option value=""></option>
                  <option value="2021 - 2022">2021 - 2022</option>
                  <option value="2022 - 2023">2022 - 2023</option>
                  <option value="2023 - 2024">2023 - 2024</option>
                  <option value="2024 - 2025">2024 - 2025</option>
                  <option value="2025 - 2026">2025 - 2026</option>
                </select>
              </div>
            </div>
            <div style="display: flex; margin-left: -14px">
            </div>
          <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button" data-module="govuk-button" data-prevent-double-click="true" style="margin-left: 0px; margin-bottom: 10px;" data-test="search-button">Search</button>
        </form>
      </div>

      <h1 class="govuk-heading-m">Applications received for 2023 - 2024</h1> 
      <button class="govuk-body-s mc-toggle-button"> <a href="dashboard-2.html"> Change to table view</a></button>





      <img src="/public/images/new-dash-bar-charts.png" alt="."> 

      <br>
      <br>
      

      <h1 class="govuk-heading-m">Total number of applications: 12345</h1> 



      










    
      














    </div>
  </div>
{% endblock %}
