{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <nav class="moj-side-navigation" aria-label="Side navigation">
    
              <h4 class="moj-side-navigation__title">Filter statements by: </h4>

              
              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Providers</label>
                <select id="employment-type-field" class="govuk-select" name="Employment type"><option value=""></option>
                  <option value="Status">Name</option>
                  <option value="Status">Name</option>
                  <option value="Status">Name</option>
                  <option value="Status">Name</option>
                </select>
              </div>

              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Statement date</label>
                <select id="employment-type-field" class="govuk-select" name="Employment type"><option value=""></option>
                  <option value="Status">2022/23</option>
                  <option value="Status">2023/24</option>
                  <option value="Status">2024/25</option>
                  <option value="Status">2025/26</option>
                </select>
              </div>

              <div class="govuk-form-group govuk-grid-column-two-thirds">
                <label for="employment-type-field" class="govuk-label govuk-label--s">Status</label>
                <select id="employment-type-field" class="govuk-select" name="Employment type"><option value=""></option>
                  <option value="Status">Unpaid</option>
                </select>

                <br>
                <br>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Search
                </button>

              </div>
          </nav>
        </div> 

        


      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-hint">hgdv7-lgfdd-nbgjj55-lfwhu-45jgjg</div>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Ambition institute, Jan 2025</h1>
        <p class="govuk-!-margin-bottom-2"><strong>Course provider:</strong> Church of England</p>
        <p class="govuk-!-margin-bottom-2"><strong>Academic year:</strong> 2025/26 </p>
        <p class="govuk-!-margin-bottom-2"><strong>Statement year:</strong> June 26 </p>
        <p class="govuk-!-margin-bottom-2"><strong>Output payment date:</strong> 15 May 2025 </p>
        <p class="govuk-!-margin-bottom-1"> <button type="submit" class="govuk-button" data-module="govuk-button"> Authorise payment </button> </p>


        <div class="govuk-grid-column-three-quarters">

        <div class="govuk-inset-text">
          Calculation rounding errors
        </div>

        </div>

      

        <div class="govuk-grid-column-three-quarters"> 
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Totals
            </h2>
            <a class="govuk-link" href="#"><strong>Save as PDF
              <br>
              Download declarations (CSV)
            </strong><span class="govuk-visually-hidden"><strong></strong></span></a>
    



        </div>
        <div class="govuk-summary-card__content">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              The output payment deadline is on the 15 May 2025.
            </strong>
          </div>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Starts
              </dt>
              <dd class="govuk-summary-list__value">
               1
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Retained
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Completed
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Voids
              </dt>
              <dd class="govuk-summary-list__value">
                1
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">View void<span class="govuk-visually-hidden"> working situation (Person 3)</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment made
              </dt>
              <dd class="govuk-summary-list__value">
                £££
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery funding
              </dt>
              <dd class="govuk-summary-list__value">
                £££
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Repayments
              </dt>
              <dd class="govuk-summary-list__value">
                £££
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total net VAT
              </dt>
              <dd class="govuk-summary-list__value">
                <strong> £££ </strong> 
              </dd>
            </div>

            <br>

          </dl>
        </div>
        </div>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Course finance details</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Additional support offer for new headteachers
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Additional support offer for new headteachers
                  </h2>
                </div>
                <div class="govuk-summary-card__content">

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Participants</th>
                        <th scope="col" class="govuk-table__header">Payment amount per participant</th>
                        <th scope="col" class="govuk-table__header">Course total</th>
            
            
                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">£200</td>
                        <td class="govuk-table__cell">£4000</td>
                      </tr>
                    </table>


                    <dl class="govuk-summary-list">

                  

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Started
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Compeleted
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total declarations 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total not eligible for funding
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>1 </strong>
                        </dd>
                      </div>
                    </dl>
                    </div>
                  </dl>
                </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Early headship coaching offer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Early headship coaching offer
                  </h2>
                </div>
                <div class="govuk-summary-card__content">

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Participants</th>
                        <th scope="col" class="govuk-table__header">Payment amount per participant</th>
                        <th scope="col" class="govuk-table__header">Course total</th>
            
            
                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">£200</td>
                        <td class="govuk-table__cell">£4000</td>
                      </tr>
                    </table>

                    <dl class="govuk-summary-list">

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Started
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1
                        </dd>
                        
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Compeleted
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total declarations 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total not eligible for funding
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>1 </strong>
                        </dd>
                        
                      </div>
                    </dl>
                    </div>
                  </dl>
                </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  NPQ early years leadership
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    NPQ early years leadership
                  </h2>
                </div>
                <div class="govuk-summary-card__content">

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Participants</th>
                        <th scope="col" class="govuk-table__header">Payment amount per participant</th>
                        <th scope="col" class="govuk-table__header">Course total</th>
                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">£200</td>
                        <td class="govuk-table__cell">£4000</td>
                      </tr>
                    </table>

                    <dl class="govuk-summary-list">

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Started
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1
                        </dd>
                        
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Compeleted
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total declarations 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total not eligible for funding
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>1 </strong>
                        </dd>
                        
                      </div>
                    </dl>
                    </div>
                  </dl>
                </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  NPQ executive leadership
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    NPQ executive leadership
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Participants</th>
                        <th scope="col" class="govuk-table__header">Payment amount per participant</th>
                        <th scope="col" class="govuk-table__header">Course total</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">£200</td>
                        <td class="govuk-table__cell">£4000</td>
                      </tr>
                    </table>

                    <dl class="govuk-summary-list">
                   
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Started
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1
                        </dd>
                        
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Compeleted
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total declarations 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total not eligible for funding
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>1 </strong>
                        </dd>
                        
                      </div>
                    </dl>
                    </div>
                  </dl>
                </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  NPQ leading primary mathematics (NPQLPM)
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                  NPQ leading mathematics (NPQLMP) standalone payments.
                </strong>
              </div>


              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    NPQ leading primary mathematics (NPQLPM)
                  </h2>
                </div>
                <div class="govuk-summary-card__content">

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Participants</th>
                        <th scope="col" class="govuk-table__header">Payment amount per participant</th>
                        <th scope="col" class="govuk-table__header">Course total</th>
            
            
                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">20</td>
                        <td class="govuk-table__cell">£200</td>
                        <td class="govuk-table__cell"><strong>£4000 </strong></td>
                      </tr>
                    </table>

                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Started
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1
                        </dd>
                        
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Retained 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                          0
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Compeleted
                        </dt>
                        <dd class="govuk-summary-list__value">
                          20
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total declarations 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total not eligible for funding
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>1 </strong>
                        </dd>
                        
                      </div>
                    </dl>
                    </div>
                  </dl>
                </div>
            </div>
          </div>
        </div>


         
          
           


        
        

       



        <details class="govuk-details">
        
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contract information
            </span>
            </summary>
            <div class="govuk-grid-column-three-quarters"> 
            <table class="govuk-table">
            
            <caption class="govuk-table__caption govuk-table__caption--m">Course information</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Amount</th>
  
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First 6 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
                <td class="govuk-table__cell">£109.80 per week</td>
  
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                <td class="govuk-table__cell">£109.80 per week</td>
                <td class="govuk-table__cell">£109.80 per week</td>
  
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total estimated pay</th>
                <td class="govuk-table__cell">£4,282.20</td>
                <td class="govuk-table__cell">£109.80 per week</td>
  
              </tr>
            </tbody>
          </table> 
        </div>
        </details>
      </div> 
      </div>
      </div>

    </div>
    </div>
  </div> 
{% endblock %}
