 {% extends "layout-admin.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h4 class="moj-side-navigation__title">Settings</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="settings.html" aria-current="location">Course start date</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="email-sub.html">Email subscriptions</a>
          </li>
  
          <li class="moj-side-navigation__item">
            <a href="users.html">Admin users</a>
          </li>

          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="flags.html">Feature flags</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="messages.html">Webhook messages</a>
          </li>

          <li class="moj-side-navigation__item">
            <a href="closed-reg.html">Closed registrations</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <br>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Feature flags</h1>

      <br>

      <p>  Feature flags allow you to control what features are switched on or off in the staging environment.
                
        <br>
        <div class="govuk-inset-text">
        Ticked box: Feature is on.<br>
        Unticked box: Features is off.
        </div>
       <br>

       <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                <p><strong>Registration service</strong>
                  <br> 
                  Turns the NPQ registration service on or off.</p>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                <p><strong>Late registrations</strong>
                  <br> 
                  Enables authorised users to register for an NPQ even when the registration service is closed.</p>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                <p><strong>DfE analytics</strong>
                  <br>  ???
                   </p>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                <p><strong>Get an Identity integration </strong>
                  <br> Prompts users to set up or sign into a DfE Identity account.
                   </p>
              </label>
            </div>
          <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                          <p><strong>Early career framework API </strong>
                            <br> ???
                            </p>
                        </label>
                      </div>
                    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        <p><strong>SENCO NPQ course </strong>
                          <br> Enables users to register for the special educational needs coordinator NPQ course.
                           </p>
                      </label>
                    </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      <p><strong>Maths NPQ course </strong>
                        <br> Enables users to register for the maths NPQ course.
                         </p>
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      <p><strong>Maths NPQ course </strong>
                        <br> Enables users to register for the maths NPQ course.
                         </p>
                      
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      <p><strong>Get an Identity pilot </strong>
                        <br> ???
                         </p>
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      <p><strong>Maintenance banner </strong>
                        <br> Displays a banner to notify users that the registration service will experience some downtime to receive maintenance work.
                         </p>
                    </label>
                  </div>
              
          </div>
        
            
        

        
        



        </fieldset>
      </div>





          
        
      
      



      

      

        


           
         

          



          
     

    </div>
  </div>

  {% endblock %}
 





 