{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Re-register") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Awaiting information") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--blue"
    })}}
  {% endif %}
  {% endset %}

  {% set providerStatusHTML %}
  {% if (data['registration1--provider-status'] == "Pending") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% elseif (data['registration1--provider-status'] == "Approved") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set fundingStatusHTML %}
  {% if (data['registration1--review-status'] != "Decision made") %}
    –
  {% elseif (data['registration1--funding-status'] == "Yes") %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set ineligiblereasonHTML %}
  {% if (data['registration1--ineligible-reason'] == "Other") %}
    {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--other'] }}
  {% elseif (data['registration1--ineligible-reason'] == "Not an eligible establishment type") %}
    {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--establishment'] }}
  {% else %}
    {{ data['registration1--ineligible-reason'] }} 
  {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">

          <h4 class="moj-side-navigation__title">Applications</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <a href="/admin-v3/applications" class="govuk-!-font-size-16">All applications</a>
            </li>
            <li class="moj-side-navigation__item">
              <a href="/admin-v3/registrations-review" class="govuk-!-font-size-16">In review</a>
            </li>





        <h4 class="moj-side-navigation__title">Lorelai Gilmore</h4>

        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item">
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item moj-side-navigation__item--active">
            <a href="/admin-v3/overview" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="app-details.html" class="govuk-!-font-size-16">Leading teacher development NPQ, 17 October 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="../registration-1/ltd-270724" class="govuk-!-font-size-16">Leading literacy NPQ, 23 November 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="../registration-1/ltd-270724" class="govuk-!-font-size-16">Headship NPQ, 3 January 2025</a>
          </li>
          
        </ul>
      </nav>
    </div>

  

    <div class="govuk-grid-column-three-quarters">


      <br>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2"><strong>Applicant ID:</strong> 123456</p>
      <p class="govuk-!-margin-bottom-2"><strong>Email:</strong> gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-2"><strong>Date of birth:</strong> 30 October 2020 | <strong> National Insurance:</strong> JH576827D</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN: </strong>1234567 (verified)</p>
      <p class="govuk-!-margin-bottom-6"><strong>Get an Identity ID: </strong>11ab2c36-55f8-00r3-776f-56781jj03214o</p>
     
      

     
      
      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading teacher development NPQ, 17 October 2024',
            classes: 'govuk-!-font-size-20'
          },
          actions: {
            items: [
              {
                href: "app-details",
                text: "View full application",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: "UCL"
            }
          },
          
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              text: "Yes"
              
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              text: "Yes"
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: 'No'
            }
          },
          {
            key: {
              text: "Declaration"
            },
            value: {
              html: providerStatusHTML
            }
          },
          {
            key: {
              text: "Course outcome"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
               
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Leading literacy NPQ, 23 November 2024',
            classes: 'govuk-!-font-size-20'
          },
          actions: {
            items: [
              {
                href: "reg-app",
                text: "View full application",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: "UCL"
            }
          },
          
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              text: "Yes"
              
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              text: "Yes"
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: 'No'
            }
          },
          {
            key: {
              text: "Declaration"
            },
            value: {
              html: providerStatusHTML
            }
          },
          {
            key: {
              text: "Course outcome"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Headship NPQ, 3 January 2025',
            classes: 'govuk-!-font-size-20'
          },
          actions: {
            items: [
              {
                href: "reg-app",
                text: "View full application",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: "UCL"
            }
          },
          
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              text: "Yes"
              
            }
          },
          {
            key: {
              text: "Provider approval status"
            },
            value: {
              text: "Yes"
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: 'Yes'
            }
          },
          {
            key: {
              text: "Declaration"
            },
            value: {
              html: providerStatusHTML
            }
          },
          {
            key: {
              text: "Course outcome"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                
                }
              ]
            }
          }
        ]
      }) }}

      


    </div>
  </div>
{% endblock %}
