{% extends "layout-admin.html" %}

{% block content %}
  {% set reviewStatusHTML %}
  {% if (data['registration1--review-status'] == "Decision made") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Re-register") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--grey"
    })}}
  {% elseif (data['registration1--review-status'] == "Awaiting information") %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--review-status'],
      classes: "govuk-tag--blue"
    })}}
  {% endif %}
  {% endset %}

  {% set providerStatusHTML %}
  {% if (data['registration1--provider-status'] == "Pending") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--yellow"
    })}}
  {% elseif (data['registration1--provider-status'] == "Approved") %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--provider-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set fundingStatusHTML %}
  {% if (data['registration1--review-status'] != "Decision made") %}
    –
  {% elseif (data['registration1--funding-status'] == "Yes") %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--green"
    })}}
  {% else %}
    {{govukTag({
      text: data['registration1--funding-status'],
      classes: "govuk-tag--red"
    })}}
  {% endif %}
  {% endset %}

  {% set ineligiblereasonHTML %}
    {% if (data['registration1--ineligible-reason'] == "Other") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--other'] }}
    {% elseif (data['registration1--ineligible-reason'] == "Not an eligible establishment type") %}
      {{ data['registration1--ineligible-reason'] }} – {{ data['registration1--ineligible-reason--establishment'] }}
    {% else %}
      {{ data['registration1--ineligible-reason'] }} 
    {% endif %}
  {% endset %}

  {% set apiHTML %}
    <pre><code>{ 
  "data": { 
    "id": "74d6ca58-45ee-494f-a0c9-ce64800350fe", 
      "type": "npq_application", 
      "attributes": { 
        "course_identifier": "npq-senco", 
        "email": "bhavishasoma@yahoo.co.uk", 
        "email_validated": true, 
        "employer_name": null, 
        "employment_role": null, 
        "full_name": "Bhavisha Soma", 
        "funding_choice": null, 
        "headteacher_status": null, 
        "ineligible_for_funding_reason": null, 
        "participant_id": "9ea1765d-cee9-4eb1-8e01-d728a6b9fefd", 
        "private_childcare_provider_urn": null, 
        "teacher_reference_number": "1154737", 
        "teacher_reference_number_validated": true, 
        "school_urn": "138621", 
        "school_ukprn": "10038682", 
        "status": "accepted", 
        "works_in_school": true, 
        "funded_place": true, 
        "created_at": "2024-08-09T12:29:10Z", 
        "updated_at": "2024-08-09T13:10:05Z", 
        "cohort": "2024", 
        "eligible_for_funding": true, 
        "targeted_delivery_funding_eligibility": false, 
        "teacher_catchment": true, 
        "teacher_catchment_iso_country_code": "GBR", 
        "teacher_catchment_country": "United Kingdom of Great Britain and Northern Ireland", 
        "itt_provider": null, 
        "lead_mentor": false, 
        "schedule_identifier": "npq-leadership-autumn" 
      }
    }
 }</code></pre>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <h4 class="moj-side-navigation__title">Registrations</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="dashboard.html" class="govuk-!-font-size-16">All</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="../registrations-review" class="govuk-!-font-size-16">In review</a>
          </li>
          <h4 class="moj-side-navigation__title">Lorelai Gilmore</h4>
          <li class="moj-side-navigation__item">
            <a href="overview" class="govuk-!-font-size-16">Overview</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="ltd-130824" aria-current="location" class="govuk-!-font-size-16">Leading teacher development 13 Aug 24</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="ltd-270724" class="govuk-!-font-size-16">Leading teacher development 9 Jul 2024</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="change-log" class="govuk-!-font-size-16">Change log</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Lorelai Gilmore</h1>
      <p class="govuk-!-margin-bottom-2">gilmore.girls@google.com</p>
      <p class="govuk-!-margin-bottom-1"><strong>TRN (validated): </strong>1234567</p>
      <p class="govuk-!-margin-bottom-6"><strong>GAI ID: </strong>11ab2c36-55f8-00r3-776f-56781jj03214o</p>


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Registration details',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "reg-app",
                text: "View details",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Participant ID"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Registration ID"
            },
            value: {
              text: "UCL"
            }
          },
          {
            key: {
              text: "Registration submitted"
            },
            value: {
              html: reviewStatusHTML
            }
          },
          {
            key: {
              text: "Last updated"
            },
            value: {
              text: "19 Dec 2024, 3:45pm"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View change log",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead provider API V3"
            },
            value: {
              html: govukDetails({
                summaryText: "See this application as it appears on the Lead Provider API",
                text: apiHTML
              })
            }
            
          }
          
          
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Participant',
            classes: 'govuk-!-font-size-24'
          },
          actions: {
            items: [
              {
                href: "",
                text: "View participant",
                visuallyHiddenText: "of the Leading teaching development registration"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['registration1--course']
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "TRN"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "TRN validated"
            },
            value: {
              html: providerStatusHTML
            },
            actions: {
              items: [
              ]
            }
          },
          
          {
            key: {
              text: "User identity provider"
            },
            value: {
              text: "One Login"
            }
          },
          {
            key: {
              text: "User identity UID"
            },
            value: {
              text: "One Login"
            }
          },
          {
            key: {
              text: "Training status"
            },
            value: {
              html: providerStatusHTML
            },
            actions: {
              items: [
                
              ]
            }
          },
          {
            key: {
              text: "External ID"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "National insurance number"
            },
            value: {
              text: data['registration1--provider']
            }
          },
          {
            key: {
              text: "Get an identity ID"
            },
            value: {
              text: data['registration1--provider']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Course',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
        {
          key: {
            text: "NPQ course"
          },
          value: {
            text: "Course name"
          }
        },
        {
          key: {
            text: "Course identifier"
          },
          value: {
            text: "12345"
          }
        },
        {
          key: {
            text: "Cohort"
          },
          value: {
            text: "testttt"
          }
        },
          {
            key: {
              text: "Course outcome"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "View outcome",
                  visuallyHiddenText: "view course outcome"
                }
              ]
            }
          },
          {
            key: {
              text: "Enrollment"
            },
            value: {
              text: "testttt"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "enrollment"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead provider"
            },
            value: {
              text: "Lead provider name"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "lead provider"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead provider approval"
            },
            value: {
              text: "test"
            },
            actions: {
              items: [
                {
                  href: "../registration-1/set-notes",
                  text: "Change",
                  visuallyHiddenText: "Lead provider approval"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukSummaryList({
        card: {
          title: {
            text: 'Employment details',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
        {
          key: {
            text: "Role"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Employment type"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Training status"
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Private childcare provider URN
            "
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Headteacher status
            "
          },
          value: {
            text: "Value"
          }
        },
        {
          key: {
            text: "Number of pupils
            "
          },
          value: {
            text: "Value"
          }
        },
          {
            key: {
              text: "School URN"
            },
            value: {
              html: fundingStatusHTML
            },
            actions: {
              items: [
                {
                  href: " ",
                  text: "View",
                  visuallyHiddenText: "school urn"
                }
              ]
            }
          },
          {
            key: {
              text: "School UKPRN"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "ITT lead mentor"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "ITT provider"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Works in England"
            },
            value: {
              text: data['registration1--funded-place']
            }
          },
          {
            key: {
              text: "Works setting"
            },
            value: {
              text: data['registration1--funded-place']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Key funding information',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Primary establishment
              "
            },
            value: {
              text: 'Yes'
            }
          },
          {
            key: {
              text: "Targeted support funding primary plus eligibility"
            },
            value: {
              text: 'Another setting'
            }
          },  
          {
            key: {
              text: "Targeted delivery funding eligibility"
            },
            value: {
              text: data['registration1--employment-type']
            }
          },
          {
            key: {
              text: "Reffered by return to teaching adviser"
            },
            value: {
              text: data['registration1--employer']
            }
          },
          {
            key: {
              text: "Funded place"
            },
            value: {
              text: data['registration1--role']
            }
          },
          {
            key: {
              text: "Funding choice"
            },
            value: {
              text: data['registration1--role']
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Funding outcome",
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Eligible for funding"
            },
            value: {
              text: '2024'
            }
          },
          {
            key: {
              text: "Funding eligibility status code"
            },
            value: {
              text: 'npq-specialist-autumn'
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Schedule",
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Cohort"
            },
            value: {
              text: '2024'
            }
          },
          {
            key: {
              text: "Schedule identifier"
            },
            value: {
              text: 'npq-specialist-autumn'
            }
          },
          {
            key: {
              text: "Notes"
            },
            value: {
              text: 'This application...'
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Declarations ',
            classes: 'govuk-!-font-size-24'
          }
        },
        rows: [
          {
            key: {
              text: "Declaration ID" 
            },
            value: {
              text: data['registration1--participant-id']
            }
          },
          {
            key: {
              text: "Declaration type"
            },
            value: {
              text: data['registration1--registration-id']
            }
          },
          {
            key: {
              text: "Milestone"
            },
            value: {
              text: "milestone"
            }
          },
          {
            key: {
              text: "Declaration data"
            },
            value: {
              text: data['registration1--submitted-date']
            }
          },
          {
            key: {
              text: "Evidence held"
            },
            value: {
              text: data['registration1--updated-date']
            }
          },
          {
            key: {
              text: "Declaration state"
            },
            value: {
              text: "123"
            },
            actions: {
              items: [
                {
                  href: " ",
                  text: "",
                  visuallyHiddenText: "view state history"
                }
              ]
            }
          },
          {
            key: {
              text: "Created at"
            },
            value: {
              text: data['registration1--updated-date']
            }
          },
          {
            key: {
              text: "Last updated date"
            },
            value: {
              text: data['registration1--updated-date']
            }
          }
        ]
      }) }}

     
   
{% endblock %}
