{% extends "layout-admin.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="registrations" aria-current="location" class="govuk-!-font-size-16">All registrations </a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="registrations-review" class="govuk-!-font-size-16">In review</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">All registrations</h1>

      <table class="govuk-table govuk-!-font-size-16" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Participant</th>
           <!--<th scope="col" class="govuk-table__header" aria-sort="none">Review status</th> --> 
            
            <th scope="col" class="govuk-table__header">Eligible for funding</th>
            <th scope="col" class="govuk-table__header">Provider approval status</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Registration submitted date</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="overview.html">Lorelai Gilmore</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration1--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration1--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
            </td>
            <td class="govuk-table__cell">
             Approved
            </td>
            <td class="govuk-table__cell">test</td>
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="registration-2/overview">{{ data['registration2--name'] }}</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration2--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration2--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "No",
                classes: "govuk-tag--red"
              })}}
            </td>
            <td class="govuk-table__cell">
              Rejected
            </td>
            <td class="govuk-table__cell"> test</td>
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="registration-3/overview">{{ data['registration3--name'] }}</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration3--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration3--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "No",
                classes: "govuk-tag--red"
              })}}
             
            </td>
            <td class="govuk-table__cell">
             Pending
            </td>
            <td class="govuk-table__cell"> test</td>
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="registration-4/overview">{{ data['registration4--name'] }}</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data['registration4--employment-type'] }} </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">{{ data['registration4--employer'] }}</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
            </td>
            <td class="govuk-table__cell">
              Pending
           
            </td>
            <td class="govuk-table__cell"> test</td>
            <td class="govuk-table__cell">{{ data['registration4--submitted-date'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="">Carlton Shanahan JD</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Hospital school </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Grandview Grammar School</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
            
            </td>
            <td class="govuk-table__cell">
              Rejected
            </td>
            
            <td class="govuk-table__cell">15/04: NG Rejected by provider, no need to review.</td>
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="">Fareed Eilert</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Hospital school </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Meadows Ridge Academy</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
            </td>
            <td class="govuk-table__cell">
            Approved    
            </td>
            <td class="govuk-table__cell"> test</td>
            <td class="govuk-table__cell">4 Apr 2024<br> 11:28am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="">Aiga Villum</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Supply teacher </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Bristol City Council</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "No",
                classes: "govuk-tag--red"
              })}}
            
            </td>
            <td class="govuk-table__cell">
            Rejected
             
            </td>
            
            <td class="govuk-table__cell">15/04: NG sent email sent to user to confirm non-eligibility. 12/04: CD Agree not eligible. 11/04: AB Not eligible - in support role, not teaching...</td>
            <td class="govuk-table__cell">3 Apr 2024<br> 11:19am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="">Colin Winter</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Young offender institution</p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Meadows Ridge Academy</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
            
            </td>
            <td class="govuk-table__cell">
              Rejected
            </td>
            
            <td class="govuk-table__cell">05/04: RD: Reregister email sent (Digital #00000)...</td>
            <td class="govuk-table__cell">3 Apr 2024<br> 10:02am</td>
          </tr>

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="">Bobby Small</a>
              <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Supply teacher </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">Lambeth Council</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Yes",
                classes: "govuk-tag--green"
              })}}
             
            </td>
            <td class="govuk-table__cell">
             Accepted
              
            </td>
            
            <td class="govuk-table__cell">01/04: LP agree...</td>
            <td class="govuk-table__cell">29 Mar 2024<br> 4:14pm</td>
          </tr>
        </tbody>
      </table>



      



















    </div>
  </div>
{% endblock %}
