<h1 class="govuk-heading-xl">NPQ applications</h1>

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Application exports',
    href: '/admin-console/npq-applications'
  }, {
    text: 'Eligibility imports',
    href: '/admin-console/npq-applications-imports'
  }, {
    text: 'Edge cases',
    href: '/admin-console/npq-applications-edge',
    active: true
  }]
}) }}


<table class="govuk-table govuk-!-font-size-16" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Eligible for funding</th>
      <th scope="col" class="govuk-table__header">Funding eligibility status code</th>
      <th scope="col" class="govuk-table__header">Employment type</th>
      <th scope="col" class="govuk-table__header">Employer name</th>
      <th scope="col" class="govuk-table__header">Role</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Created at</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="/admin-console/applicant-1/applicant">Annamaria Green</a></td>
      <td class="govuk-table__cell">
        {% if (data['adminfunding1'] == "Yes") %}
          {{govukTag({
            text: "YES",
            classes: "govuk-tag--green"
          })}}

          {% else %}

          {{govukTag({
            text: "NO",
            classes: "govuk-tag--red"
          })}}

        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% if (data['adminfunding1'] == "Yes") %}
          Eligible for funding
        {% else %}
          {{ data['admincode1'] or "No institution"}}
        {% endif %}
      </td>
      <td class="govuk-table__cell">Other</td>
      <td class="govuk-table__cell">Bailey, Kuhic and Kshlerin</td>
      <td class="govuk-table__cell">Lawyer</td>
      <td class="govuk-table__cell">10 February 2023, 2:30 PM</td>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="/admin-console/applicant-2/applicant">Lynne Howe</a></td>
      <td class="govuk-table__cell">

        {% if (data['adminfunding2'] == "Yes") %}
          {{govukTag({
            text: "YES",
            classes: "govuk-tag--green"
          })}}

          {% else %}

          {{govukTag({
            text: "NO",
            classes: "govuk-tag--red"
          })}}

        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% if (data['adminfunding2'] == "Yes") %}
          Eligible for funding
        {% else %}
          {{ data['admincode2'] or "No institution" }}
        {% endif %}
      </td>
      <td class="govuk-table__cell">Hospital school</td>
      <td class="govuk-table__cell">Renner-Ziemann</td>
      <td class="govuk-table__cell">Hairdresser</td>
      <td class="govuk-table__cell">08 February 2023, 3:45 PM</td>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="/admin-console/applicant-3/applicant">Carlton Shanahan JD</a></td>
      <td class="govuk-table__cell">
        {% if (data['adminfunding3'] == "Yes") %}
          {{govukTag({
            text: "YES",
            classes: "govuk-tag--green"
          })}}

          {% else %}

          {{govukTag({
            text: "NO",
            classes: "govuk-tag--red"
          })}}

        {% endif %}
      </td>
      <td class="govuk-table__cell">{{ data['admincode3'] or "No institution" }}</td>
      <td class="govuk-table__cell">Young offender institute</td>
      <td class="govuk-table__cell">Schneider LLC</td>
      <td class="govuk-table__cell">Soldier</td>
      <td class="govuk-table__cell">04 January 2023, 11:28 AM</td>
    </tr>

  </tbody>
</table>
