{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% block pageTitle %}
  Enter your or your employer’s Ofsted URN
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/choose-npq" method="post">
      {{ govukInput({
        label: {
          text: "Enter your or your employer’s Ofsted URN",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "For example EY456798"
        },
        id: "urn",
        name: "urn"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>



  </div>
</div>

{% endblock %}
