{% extends "layout.html" %}


{% block header %}
  {% include 'includes/admin-console/header.html' %}

  {% include 'includes/admin-console/primary-navigation.html' %}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukNotificationBanner({
        text: "Lynne Howe's funding status has been updated successfully.",
        type: 'success'
      }) }}

      {% include 'includes/admin-console/npq-applications-edge-content.html' %}

    </div>
  </div>



{% endblock %}
