{% extends "layout.html" %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  What setting do you work in?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="where-school" method="post">
      {{ govukRadios({
        name: "whichsetting",
        id: "whichsetting",
        fieldset: {
          legend: {
            text: "What setting do you work in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Early years or childcare",
            text: "Early years or childcare"
          },
          {
            value: "A school",
            text: "A school"
          },
          {
            value: "An academy trust",
            text: "An academy trust"
          },
          {
            value: "A 16 to 19 educational setting",
            text: "A 16 to 19 educational setting"
          },
          {
            divider: "or"
          },
          {
            value: "Other",
            text: "Other",
            hint: {
              text: "For example a local authority, initial teacher training (ITT) provider, hospital school or young offender institution"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>



  </div>
</div>

{% endblock %}
