{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Register at a later date
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You cannot register yet</h1>

    <p>Registrations are currently only open for courses starting in autumn 2025.</p>

    <p class="govuk-body">If you want to start a course later in the year, registration usually opens in spring.</a><p>

</p>
</ul>
<section class="govuk-!-margin-top-6">
  <h2 class="govuk-heading-m">Stay informed</h2>
  <p class="govuk-body">
    You can sign up for email updates to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>find out when NPQ registration opens</li>
    <li>tell us if you're interested in the special educational needs co-ordinator (SENCO) NPQ</li>
  </ul>
  <a href="https://teaching-identity.education.gov.uk/sign-in/landing?asid=8f00c15b-effb-47e2-b656-77dcc484a6ed" class="govuk-link">Sign up for updates</a>
  
</section>


  </div>
</div>



{% endblock %}
