{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  What’s the name of your workplace?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What is the name of your workplace?</h1>


      {{ govukInput({
        label: {
        },
        hint: {
          html: '
            <p class="govuk-body">Search for your workplace by postcode, unique reference number (URN) or name.</p>

            <p class="govuk-body">
              If you work for a trust, use the details of one of its schools.
            </p>
          '
        },
        id: "whichschool",
        name: "whichschool"
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot find my workplace
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You could:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>use a mix of postcode, workplace name and URN to help narrow your search</a></li>
            <li><a href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments" class="govuk-link">check the details you've entered are correct<la></a>, including spelling</li>
          </ul>
          <p class="govuk-body">
            <p class="govuk-body">
</p>
        </div>
      </details>

      <div class="govuk-!-margin-top-6">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>
  </div>
</div>
{% endblock %}