{% extends "layout.html" %}

{% block pageTitle %}
  Continue to register for an NPQ
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-panel app-panel--interruption">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['email'] != "nomatch@example.com") and (data['changedetails'] != "yes") %}

        <h1 class="govuk-heading-xl">Continue to register for an NPQ</h1>

        <p>Thank you, we’ve finished checking our records.</p>

        <p>We’ll only need your email address (<strong>{{ data['email'] or "email@example.com" }}</strong>) to find your details in the future.</p>

      {% else %}
        <h1 class="govuk-heading-xl">You can continue</h1>
        <p>You can continue anyway and we’ll try to find your record. Someone may be in touch to ask for more information.</p>
        <p>If you need to come back to this service later, use your email address <strong>(nomatch@example.com)</strong> when prompted and you will not have to answer these questions again.</p>

      {% endif %}
      <form class="form" action="/chosen" method="post">
        <button class="govuk-button app-button--inverse" data-module="govuk-button">
          Continue
        </button>
      </form>


    </div>
  </div>
</div>

{% endblock %}
