{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Register at a later date
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register at a later date</h1>
    <p>You cannot register unless you’re starting your NPQ between September 2024 and August 2025.</p>
    <p>If you intend to start your course the following academic year, you can register from ((March 2024)). You’ll recieve an email when registration is open.</p>
  </div>
</div>

{% endblock %}
