{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Which NPQ do you want to do?
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose an NPQ</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">To register for both the headship NPQ and the <a href="https://professional-development-for-teachers-leaders.education.gov.uk/early-headship-coaching-offer">early headship coaching offer</a>, you need to submit 2 seperate registrations.</p>

      <h1 class="govuk-heading-m">Which NPQ do you want to do?</h1>

    <form class="form" action="/check-data/_funding-check" method="post">
      {{ govukRadios({
        name: "choosenpq",
        items: [
          {
            value: "NPQ for Leading Behaviour and Culture (NPQLBC)",
            text: "Leading behaviour and culture"
          },
          {
            value: "NPQ for Leading Literacy (NPQLL)",
            text: "Leading literacy"
          },
          {
            value: "NPQ for Leading Teaching (NPQLT)",
            text: "Leading teaching"
          },
          {
            value: "NPQ for Leading Teacher Development (NPQLTD)",
            text: "Leading teacher development"
          },
          {
            value: "NPQ for Senior Leadership (NPQSL)",
            text: "Senior leadership"
          },
          {
            value: "NPQ for Headship (NPQH)",
            text: "Headship"
          },
          {
            value: "NPQ for Executive Leadership (NPQEL)",
            text: "Executive leadership"
          },
          {
            value: "NPQ for Early Years Leadership (NPQEYL)",
            text: "Early years leadership"
          },
          {
            divider: "or"
          },
          {
            value: "The Early Headship Coaching Offer",
            text: "Early headship coaching offer",
            hint: {
              text: "A package of structured face-to-face support for new headteachers."
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
