{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Which NPQ do you want to do?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose an NPQ</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">To register for an NPQ and the <a href="https://professional-development-for-teachers-leaders.education.gov.uk/early-headship-coaching-offer">Early headship coaching offer</a>, submit 2 separate registrations.</p>

      <h1 class="govuk-heading-m">Which NPQ do you want to do?</h1>

    <form class="form" action="/check-data/_funding-check" method="post">
      {{ govukRadios({
        name: "choosenpq",
        items: [
          {
            value: "Leading behaviour and culture",
            text: "Leading behaviour and culture"
          },
          {
            value: "Leading literacy",
            text: "Leading literacy"
          },
          {
            value: "Leading teaching",
            text: "Leading teaching"
          },
          {
            value: "Leading teacher development",
            text: "Leading teacher development"
          },
          {
            value: "Senior leadership",
            text: "Senior leadership"
          },
          {
            value: "Headship",
            text: "Headship"
          },
          {
            value: "Executive leadership",
            text: "Executive leadership"
          },
          {
            value: "Early years leadership",
            text: "Early years leadership"
          },
          {
            divider: "or"
          },
          {
            value: "Early headship coaching offer",
            text: "Early headship coaching offer",
            hint: {
              text: "Structured support and networking opportunities if you’re a headteacher in your first 5 years of headship."
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
