{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your initial registration is complete
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}
      <div class="govuk-!-font-size-19">
        You've registered for an <strong>{{ data['choosenpq'] }}</strong> with <strong>{{ data['provider'] }}</strong>
      </div>

      {% endset %}

      {{ govukPanel({
        titleText: "Your initial registration is complete",
        html: html
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        {{ data['provider']}} will contact you to complete your registration.
      </p>
      <p class="govuk-body">
        They will provide details of timings, costs and deadlines.
      </p>

      {% if (data['choosenpq'] == "NPQ for Headship (NPQH)") %}
        <h2 class="govuk-heading-m">Early Headship Coaching Offer</h2>
        <p>The Early Headship Coaching Offer is a package of structured face-to-face support for new headteachers.</p>
        <p>You may be eligible for DfE scholarship funding if you are in the first 5 years of a headship and:</p>
        <p>If eligible, your training provider will share further details with you.</p>
        <p><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship">Read more about the Early Headship Coaching Offer</a></p>
      {% else %}
      {% endif %}

      <div class="govuk-inset-text">
        <a href="#">Tell us about your experience</a> for the possibility to be called for further research and earn £40.
      </div>

      <p class="govuk-!-font-size-14"><a href="email-complete">For prototype reference: Confirmation email</a></p>
    </div>
  </div>
{% endblock %}
