{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your initial registration is complete
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}
      <div class="govuk-!-font-size-19">
        You've registered for <strong>{{ data['choosenpq'] }}</strong> with <strong>{{ data['provider'] }}</strong>
      </div>

      {% endset %}

      {{ govukPanel({
        titleText: "Your initial registration is complete",
        html: html
      }) }}

      <h2 class="govuk-heading-m">Apply through your provider</h2>

      <p class="govuk-body">
        You still need to apply for your NPQ through {{ data['provider']}}.
      </p>
      <p class="govuk-body">
        They’ll contact you to outline the next steps, including how to apply.
      </p>

      {% if (data['choosenpq'] == "Headship") %}
        <h2 class="govuk-heading-m">Early Headship Coaching Offer</h2>
        <p>You can also  <a href="https://register-national-professional-qualifications.education.gov.uk">register the early headship coaching offer</a>, a one-year support package for new headteachers.</p>
        <p><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship">Find out more about the Early Headship Coaching Offer</a>.</p>
      {% else %}
      {% endif %}

      <div class="govuk-inset-text">
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScAD7XvFlHl8LzfSyxstYErWMiFPXGamrA_qBhBJTGXuP9efw/viewform?usp=sf_link">Tell us about your experience</a> of registering for an NPQ. Your views help us improve this service.
      </div>

      <p class="govuk-!-font-size-14"><a href="email-complete">For prototype reference: Confirmation email</a></p>
    </div>
  </div>
{% endblock %}
