{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your registration is complete
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% set html %}
      {% if (data['choosenpq'] == "Early headship coaching offer") %}
      You’ve registered for the early headship coaching offer with {{ data['provider'] }}
      {% else %}
      You’ve registered for the {{ data['choosenpq'] }} NPQ with {{ data['provider'] }}
      {% endif %}
      {% endset %}

      {{ govukPanel({
        titleHtml: html
      }) }}

      <h2 class="govuk-heading-m">Apply through your provider</h2>

      {% if (data['choosenpq'] == "Early headship coaching offer") %}
      <p class="govuk-body">You still need to apply for the early headship coaching offer through {{ data['provider']}}, if you have not done so already.</p>
      {% else %}
      <p class="govuk-body">You still need to apply for the {{ data['choosenpq'] }} NPQ through {{ data['provider']}}, if you have not done so already.</p>
      {% endif %}

      <p class="govuk-body">
        They’ll contact you by email to outline the next steps, including how to apply.
      </p>
      <p class="govuk-body">
      There might be a delay in your provider contacting you while they prepare to open applications for October 2023.
      </p>

      {% if (data['choosenpq'] == "NPQ for Headship (NPQH)") %}
        <h2 class="govuk-heading-m">Early headship coaching offer</h2>
        <p>You can also  <a href="https://register-national-professional-qualifications.education.gov.uk">register the early headship coaching offer</a>, a one-year support package for new headteachers.</p>
        <p><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship">Find out more about the early headship coaching offer</a>.</p>
      {% else %}
      {% endif %}

      <div class="govuk-inset-text">
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScAD7XvFlHl8LzfSyxstYErWMiFPXGamrA_qBhBJTGXuP9efw/viewform?usp=sf_link">Tell us about your experience</a> of registering for an NPQ. Your views help us improve this service.
      </div>

      <p class="govuk-!-font-size-14"><a href="email-complete">For prototype reference: Confirmation email</a></p>
    </div>
  </div>
{% endblock %}
