{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>
    <h2 class="govuk-heading-m">You’ve registered for an NPQ – you still need to apply</h2>
    <p>Department for Education Teacher CPD</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-body">
      <p>Dear {{ data['first-name'] }} {{ data['last-name'] }}</p>

      <p>You’ve registered for an NPQ.</p>

      <h1 class="govuk-heading-m">Apply through your provider</h1>

      <p>You still need to apply through {{ data['provider'] }}.</p>

      <p>They’ll contact you to outline the next steps, including how to apply.</p>

      <h1 class="govuk-heading-m">Get help</h1>

      <p>Email continuing-professional-development@digital.education.gov.uk</p>

  </div>
</div>


{% endblock %}
