{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Request a teacher reference number (TRN) for a national professional qualification (NPQ)
      </h1>

<span class="govuk-caption-l">You need a TRN to do an NPQ, even if you’re not a teacher. If you do not have one, you can request one.</span>

<p class="govuk-body govuk-!-margin-top-9">To request a <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">teacher reference number</a> you need to send a secure email to the Department for Education (DfE) with some personal details and proof of identity.</p>
  
<p>Before you follow these steps to request a TRN, check if you have one already using <a href="https://find-a-lost-trn.education.gov.uk/start">Find a lost TRN</a>.</p>

<h2 class="govuk-heading-m govuk-!-margin-top-7">1. Create a Galaxkey account</h2>

<p>Galaxkey is a secure email platform. You need to <a href="https://manager.galaxkey.com/services/registerme">create a Galaxkey account</a> to send a secure email to DfE.</p>

<p>Create your Galaxkey account with an email address that you will not lose access to - such as a personal email address. DfE will respond to this email address with your TRN.</p>

<h2 class="govuk-heading-m govuk-!-margin-top-7">2. Compose an email in Galaxkey</h2>

<p>Compose an email in Galaxkey to qts.enquiries@education.gov.uk with the subject line ‘Request TRN for NPQ’.</p>

<p>Include the following information in the body of the email.</p>

<div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <li>full legal name, and any previous names if applicable</li>
    <li>date of birth</li>
    <li>National Insurance number, if you have one</li>
    <li>address, if you live outside of the UK</li>
    <li>NPQ provider</li>
    </ul>
</div>

<p>Attach a photo or scanned copy of your proof of identity. You can use one of the following:</p> 
    <ul class="govuk-list govuk-list--bullet">
      <li>passport</li>
      <li>driving licence (full or provisional)</li>
      <li>certificate of residence</li>
      <li>birth certificate</li>
    </ul>
  </li>
</ol>

<h2 class="govuk-heading-m govuk-!-margin-top-7">3. Send the email</h2>

<p>Once you select send, you’ll be presented with some email security settings</p>

<div class="govuk-inset-text">
  <p>Select 'Official - external' before sending the email. You do not need to change any other settings.</p>
</div>

<p>Once you’ve sent the email, DfE will respond by email within 5 working days.</p>

    </div>
  </div>

{% endblock %}
