
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a NPQ prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Register for an NPQ prototype</h1>

      <h2 class="govuk-heading-m">
        Style guide
      </h2>

      <p>To see the terms we use, and how we use them, visit the <a href="/style-guide/style-guide">style guide</a>.</p>


      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-l">Registration service</h2>
<!-- Current version Registration service -->
      <h2 class="govuk-heading-m">Post July 2024</h2>
      <div class="govuk-body">
        <p class="govuk-body-m">Changes made after July 2024 reopening. RTTA moved in flow. </p>
        
        {{ govukButton({
          text: "Start prototype journey",
          href: "v3/index",
          isStartButton: true
        }) }}
      </div>
<!-- Registration service archive -->
      <h2 class="govuk-heading-m">Past versions of the registration prototype</h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            July 2024 - Reopening for autumn recruitment
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="v2/index">Start prototype</a>
          <p>This was how the service looked when we reopened for Autumn 2024 registrations, including capped number of funded spaces, SENCO NPQ, eligibility rule changes and closed state.</p>
          <p><a href="https://teacher-cpd.design-history.education.gov.uk/register-for-an-npq/autumn-2024/">Design history post detailing the main changes made</a>.</p>
        </div>
      </details>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            April 2024 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="v1/index">Start prototype </a></p>
          <p> This was how the service looked prior to it closing for Autumn 2024 updates.</p>
        </div>
      </details>

<!-- Admin console prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Admin console</h2>
      <p>Prototype for the NPQ admin console, used by DfE staff.</p>

      <h2 class="govuk-heading-m">Aug 2024</h2>
      <div class="govuk-body">
        <p class="govuk-body-m">Admin and finance tool post ECF separation. This combines 3 admin tools together and removes ECF functionality.</p>
        {{ govukButton({
          text: "Start prototype journey",
          href: "/admin-v3/dashboard",
          isStartButton: true
        }) }}
      </div>

<!-- Admin console archive -->
      <h2 class="govuk-heading-m">Past versions of the admin console prototype</h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            June 2024 – pre ECF separation 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/admin-v2/npq-applications-edge">Streamlining the funding review process and making it easier to manage</a>.</p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Feb 2023 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/admin-v1/npq-applications">Testing three ways to update edge case details</a>.</p>
        </div>
      </details>

<!-- TSH prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Teaching School Hub (TSH) finder</h2>
      <p>The TSH finder allows users to find their local TSH where they can get information about
      providers and delivery partners for the NPQ.</p>
      <p><a href="/tsh-finder/start-finder">Find a teaching school hub</a> by location.</p>

<!-- Other prototypes archive -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Archive of parts of the service that are no longer used</h2>
      <p>Explorations and older versions of different parts of the journey.</p>

      <h2 class="govuk-heading-m">Professional development for teachers and leaders (PDTL)</h2>
      <p><a href="/_archive/pdtl/professional-development-for-teachers-and-leaders">Version one of the PDTL prototype</a>.</p>
      <p><a href="/_archive/pdtl-step-by-step/professional-development-for-teachers-and-leaders">Step by step version of the PDTL prototype</a>.</p>

      <h2 class="govuk-heading-m">Provider finder</h2>
      <p>The following 4 versions of the provider finder show different stages of the MVP.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 2: Find a TSH for your NPQ - filter by NPQ
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-2/start-finder">Find a TSH by location and filter by NPQs.</a> This version does not show lead providers.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 3: Find a TSH for your NPQ - with providers
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-3/start-finder">Find a TSH by location and NPQs.</a> This version shows lead providers.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 4: Find a delivery partner near you
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-4/start-finder">Find delivery partners by location and NPQ</a>, and see the relevant lead provider.</p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
