
{% extends "layout.html" %}


{% block pageTitle %}
  Register for an NPQ prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register for an NPQ prototype
      </h1>

      {{ govukButton({
        text: "View prototype",
        href: "start"
      }) }}

      <h2 class="govuk-heading-m">Users registering again</h2>
      <p>To follow the journey of an existing user, use email@example.com when asked for your email address.</p>

      <h2 class="govuk-heading-m">Users whose details do not match</h2>
      <p>To follow the journey of a user whose details do not match, use nomatch@example.com when asked for your email address.</p>

      <h2 class="govuk-heading-m">Private school journey</h2>
      <p>To follow the journey of a private school teacher, type ‘private’ when asked for the name of the school.</p>

      <h2 class="govuk-heading-m">Professional development for teachers and leaders (PDTL)</h2>

      <p><a href="/pdtl/professional-development-for-teachers-and-leaders">Version one of the PDTL prototype</a>.</p>

      <p><a href="/pdtl/professional-development-for-teachers-and-leaders-2">Version 2 of the PDTL prototype</a>.</p>

      <h2 class="govuk-heading-m">Teaching school hub finder</h2>
      <p>The following 4 versions of the teaching school hub finder show different stages of the MVP.</p>

      <h3 class="govuk-heading-s"><a href="/pdtl/tsh-finder-1/start-finder">Version 1: Find a TSH near you</a></h3>
      <p>Find a teaching school hub by location.</p>

      <h3 class="govuk-heading-s"><a href="/pdtl/tsh-finder-2/start-finder">Version 2: Find a TSH for your NPQ - filter by NPQ</a></h3>
      <p>Find a TSH by location and filter by NPQs. This version does not show lead providers.</p>

      <h3 class="govuk-heading-s"><a href="/pdtl/tsh-finder-3/start-finder">Version 3: Find a TSH for your NPQ - select an NPQ</a></h3>
      <p>Find a TSH by location and NPQs. This version shows lead providers.</p>

      <h3 class="govuk-heading-s"><a href="/pdtl/tsh-finder-4/start-finder">Version 4: Find an NPQ provider near you</a></h3>
      <p>Find delivery partners by location and NPQ, and see the relevant lead provider.</p>

      <h2 class="govuk-heading-m">Steps to apply for an NPQ</h2>
      <p><a href="/pdtl/application-process">Steps to apply for an NPQ</a>.</p>

    </div>
  </div>

{% endblock %}
