
{% extends "layout.html" %}

{% block pageTitle %}
  Register for a NPQ prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Register for an NPQ prototype</h1>

      <h2 class="govuk-heading-m">
        Style guide  
      </h2>

      <p>To see the terms we use, and how we use them, visit the <a href="/style-guide/style-guide">style guide</a>.</p>


      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-l">Registration service</h2>
<!-- Current version Registration service -->
      <h2 class="govuk-heading-m">Post July 2024</h2>
      <div class="govuk-body">
        <div id="event-name-hint" class="govuk-hint">Last updated: After July 2024 reopening. RTTA moved in flow. </div>
        
        {{ govukButton({
          text: "Start prototype journey",
          href: "v3/index",
          isStartButton: true
        }) }}
      </div>


<!-- Registration service archive -->
      <h2 class="govuk-heading-m">Past versions of the registration prototype</h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            July 2024 - Reopening for autumn recruitment
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="v2/index">Start prototype</a>
          <p>This was how the service looked when we reopened for Autumn 2024 registrations, including capped number of funded places, SENCO NPQ, eligibility rule changes and closed state.</p>
          <p><a href="https://teacher-cpd.design-history.education.gov.uk/register-for-an-npq/autumn-2024/">Design history post detailing the main changes made</a>.</p>
        </div>
      </details>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            April 2024 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="v1/index">Start prototype </a></p>
          <p> This was how the service looked prior to it closing for Autumn 2024 updates.</p>
        </div>
      </details>

<!-- Admin console prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">NPQ Admin</h2>
      <p>Prototype for the NPQ admin console, used by DfE staff.</p>


      <h2 class="govuk-heading-m">Last updated: Fri 18 July 2025 </h2>

      <div class="govuk-body">

        {{ govukButton({
          text: "Start prototype journey",
          href: "/admin-v3/dashboard",
          isStartButton: true
        }) }}

        <p> <strong> Update to the admin console</strong> As of  28th November 2024 - ECF and NPQ separation will be complete. NPQ will have a stand alone admin console, the combined admin console will still exist until date tbc. More information regarding separation can be found on the <a href="https://teacher-cpd.design-history.education.gov.uk/register-for-an-npq/npq-becoming-standalone/"> Design History ‘Making the NPQ service standalone’</a>. </p>

      </div>


<!-- Admin console archive -->
      <h2 class="govuk-heading-m">Past versions of the admin console prototype</h2>

      <p class="govuk-body-m">Admin and finance tool post ECF separation. This combines 3 admin tools together and removes ECF functionality.</p>

      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            June 2024 – pre ECF separation 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/admin-v2/npq-applications-edge">Streamlining the funding review process and making it easier to manage</a>.</p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Feb 2023 
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/admin-v1/npq-applications">Testing three ways to update edge case details</a>.</p>
        </div>
      </details>

<!-- Strategic design prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Strategic design team prototypes</h2>
      <p>Prototypes for strategic design team testing.</p>

      <h2 class="govuk-heading-m">Last updated: 24 Apr 2025</h2>
      <div class="govuk-body">
        <p><strong>Prototypes for testing programme structure</strong> as part of the 2025 NPQ review the programme structure for NPQs are being looked at. These prototypes are to be used in user research as tools to open conversation about how NPQs are structured. </p>

        {{ govukButton({
          text: "Start prototype journey",
          href: "/strat-des-v1/index",
          isStartButton: true
        }) }}
      </div>

<!-- TSH prototype -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Teaching School Hub (TSH) finder</h2>
      <p>The TSH finder allows users to find their local TSH where they can get information about
      providers and delivery partners for the NPQ.</p>
      <p><a href="/tsh-finder/start-finder">Find a teaching school hub</a> by location.</p>

<!-- Other prototypes archive -->
      <hr style="margin-top: 40px; margin-bottom: 40px">
      <h2 class="govuk-heading-l">Archive of parts of the service that are no longer used</h2>
      <p>Explorations and older versions of different parts of the journey.</p>

      <h2 class="govuk-heading-m">Professional development for teachers and leaders (PDTL)</h2>
      <p><a href="/_archive/pdtl/professional-development-for-teachers-and-leaders">Version one of the PDTL prototype</a>.</p>
      <p><a href="/_archive/pdtl-step-by-step/professional-development-for-teachers-and-leaders">Step by step version of the PDTL prototype</a>.</p>

      <h2 class="govuk-heading-m">Provider finder</h2>
      <p>The following 4 versions of the provider finder show different stages of the MVP.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 2: Find a TSH for your NPQ - filter by NPQ
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-2/start-finder">Find a TSH by location and filter by NPQs.</a> This version does not show lead providers.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 3: Find a TSH for your NPQ - with providers
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-3/start-finder">Find a TSH by location and NPQs.</a> This version shows lead providers.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 4: Find a delivery partner near you
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><a href="/_archive/pdtl/tsh-finder-4/start-finder">Find delivery partners by location and NPQ</a>, and see the relevant lead provider.</p>
        </div>
      </details>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Design artefacts
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
          
            <li>
                <a href="https://www.figma.com/design/7QdZgkSGZPc9WkBUZGyFDK/NPQ-combined-admin?node-id=158-16631">
                 Figma file
                </a>
            </li>

            <li>
              <a href="https://teacher-cpd.design-history.education.gov.uk/register-for-an-npq/">
               Design histories
              </a>
          </li>
             
               <li>
                <a href="https://lucid.app/lucidspark/656d1b13-e08a-4ef6-895c-37fadab5be55/edit?viewport_loc=-8117%2C-4419%2C28629%2C14073%2C0_0&invitationId=inv_2e29748f-211d-4adb-8110-53f22fe8fb44">
                 NPQ design exploration lucid board
                 </a>
                </li>

                <li>
                  <a href="https://lucid.app/lucidspark/e33a4231-5282-4a1f-b98d-694b4295d6cc/edit?view_items=JgK1OhkEEdhA&invitationId=inv_31cc941f-c63c-4ac5-95fc-2775e26969fc">
                   User flow lucid board
                   </a>
                  </li>
                
                  <li>
                    <a href="https://lucid.app/lucidspark/6873ec20-8ae6-4890-bc5c-c1e428d18559/edit?invitationId=inv_5a4dae2e-6996-4ce0-8a6c-b1e567337538&page=0_0#">
                     NPQ end-to-end service lucid board
                     </a>
                  </li>

                  <li>
                    <a href="https://lucid.app/lucidspark/76bda434-31a5-4bfb-9ce6-d06285397085/edit?invitationId=inv_1c491be0-d01a-4821-8e6b-8ce67dbe8a66&page=0_0#">
                     NPQ admin finance tool lucid board
                     </a>
                  </li>

                  <li>
                    <a href="https://lucid.app/lucidspark/d586abff-33e0-428e-931c-7bebf1692a30/edit?invitationId=inv_2fa63182-d0db-492a-97ab-abede39ad6e0&page=0_0#">
                     NPQ reg - Autumn 2024 changes lucid board
                     </a>
                  </li>
                  
                <li>
                  <a href="https://github.com/DFE-Digital/npq-prototype">
                    Git repository
                  </a>
                </li>
              
          </ul>
        </nav>
      </aside>

    </div>




  </div>

{% endblock %}
