{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

  {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

  {% block pageTitle %}
    {{ serviceName }} – GOV.UK
  {% endblock %}

  {% block header %}
    <header class="header_unbranded" data-module="govuk-header">
      <div class="govuk-header__container header__container_unbranded govuk-width-container">
      <div class="govuk-header__content header__content-unbranded">
        <a href="/strat-des-v1/index" class="govuk-header__link govuk-header__service-name">
          Continuous Professional Development
        </a>
      </div>
      </div>
    </header>

    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: 'This is a prototype'
      }) }}
    </div>
  {% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/strat-des/index",
            text: "Strat des index"
          },  
          {
            href: "/manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "/settings",
            text: "Settings"
          }
        ]
      }
    }) }}
    {{ data | log }}
  {% endblock %}

  {% block scripts %}
    {{ super() }}
    <script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>
  {% endblock %}