{#
    For guidance on how to use layouts see:
    https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
    #}

    {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}



    {% block pageTitle %}
        {{serviceName}} – GOV.UK
    {% endblock %}

    {% block header %}
      {{ govukHeader({
        homepageUrl: "/index",
        serviceName: serviceName,
        serviceUrl: '/start-id',
        navigation: [
          {
            href: 'https://get-an-identity-prototype.herokuapp.com/user-research/npq/account',
            html: data['dia'],
            active: true if account == 'true'
          },
          {
            href: "https://get-an-identity-prototype.herokuapp.com/user-research/npq/sign-out",
            text: "Sign out"
          }
        ] if signedIn == 'true'
      }) }}

    {% endblock %}

    {% block footer %}
      {{ govukFooter({
        meta: {
          items: [
            {
              href: "/manage-prototype",
              text: "Manage your prototype"
            },
            {
              href: "/manage-prototype/clear-data",
              text: "Clear data"
            },
            {
              href: "/settings",
              text: "settings"
            },
            {
              href: "/set-user-type?type=employer",
              text: "Employer referral form"
            }
          ]
        }
      }) }}

    {{ data | log }}

    {% endblock %}
