{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set signedIn = 'true' %}

{% block pageTitle %}
  Sharing your NPQ information
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sharing your NPQ information</h1>
    <p>All the information you enter for your NPQ application will be shared with your training provider - this lets your provider register the details to start your course. </p>
    <p>If you do not share this, you cannot progress with your NPQ.</p>
    <form class="form" action="check-answers" method="post">
      {{ govukCheckboxes({
        name: "sharedata",
        fieldset: {
        },
        items: [
          {
            value: "yes",
            text: "Yes, I agree my information can be shared"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
