
{% extends "layout.html" %}


{% block pageTitle %}
  Register for a national professional qualification (NPQ)
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register for a national professional qualification (NPQ)
      </h1>
      <p>
        Use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register for an NPQ or the Early headship coaching offer</li>
        <li>view a previous registration</li>
        <li>view the outcome of completed courses </li>
      </ul>

      <p>
        You also need to apply separately with your training provider. They’ll contact you once you’ve registered.
      </p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>which NPQ you want to do</li>
        <li>who your provider is</li>
      </ul>

      <p>If you have not chosen an NPQ or provider yet, <a href="https://www.gov.uk/guidance/national-professional-qualification-npq-courses">learn about NPQs</a>.</p>

      <p>If you work in early years or childcare, <a href="https://reports.ofsted.gov.uk/childcare">check if your workplace is registered with Ofsted</a> and get their Ofsted unique reference number (URN) if they have one.</p>

      <p>Check if you have a teacher reference number (TRN) using <a href="https://find-a-lost-trn.education.gov.uk/start">Find a lost TRN</a>. You need a TRN to register for an NPQ, even if you’re not a teacher. If you do not have one, <a href="/get-a-trn">request a TRN</a>.</p>

      
      <p>You’ll be asked to create or sign in to your DfE Identity account. We’ll show you how to do this.</p>

      {{ govukButton({
        text: "Start now",
        href: "https://get-an-identity-prototype.herokuapp.com/user-research/npq/id",
        isStartButton: true
      }) }}


{% endblock %}
