
{% extends "layout.html" %}


{% block pageTitle %}
  Register for a national professional qualification (NPQ)
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register for a national professional qualification (NPQ)
      </h1>
      <p>
        Use this service to register for an NPQ or the early headship coaching offer.
      </p>

      <p>
        You also need to apply separately with your training provider. They’ll contact you once you’ve registered.
      </p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p><a href="professional-development-for-teachers-and-leaders">Choose an NPQ provider</a>.</p>

      <p>If you work in early years or childcare, <a href="https://reports.ofsted.gov.uk/childcare">check if your workplace is registered with Ofsted and get their Ofsted</a> unique reference number (URN) if they have one.</p>

      <p><a href="https://find-a-lost-trn.education.gov.uk/start">Check if you have a teacher reference number (TRN)</a>. If you’re not a teacher you can still register, but you’ll need to request a TRN. We’ll show you how to do this.</p>

      <a href="/trn" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
    </div>
  </div>

{% endblock %}
