
{% extends "layout.html" %}


{% block pageTitle %}
  Register for a national professional qualification (NPQ)
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Register for a national professional qualification (NPQ)
      </h1>
      <p>
        Use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register for an NPQ or the early headship coaching offer</li>
        <li>check or change your registration details if you already registered</li>
      </ul>

      <p>
        You also need to apply separately with your training provider. They’ll contact you once you’ve registered.
      </p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You need to know which NPQ you want to do and who your provider is. If you have not chosen yet, <a href="https://www.gov.uk/guidance/national-professional-qualification-npq-courses">find out about NPQ courses</a>.</p>

      <p>You also need a teacher reference number (TRN) to register for an NPQ, even if you’re not a teacher. <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Learn about TRNs</a> including how to request one if you do not have one.</p>

      <p>If you work in early years or childcare, <a href="https://reports.ofsted.gov.uk/childcare">check if your workplace is registered with Ofsted</a> and get their unique reference number (URN) if they have one.</p>

      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-padding-top-6 govuk-!-padding-right-6 govuk-!-padding-bottom-1 govuk-!-padding-left-6" style="background-color:#f3f2f1;">
        <p>To register for an NPQ, you’ll need to create a DfE Identity account, or sign in to your account.</p>
        <a href="https://get-an-identity-prototype.herokuapp.com/user-research/npq/id" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>


{% endblock %}
