{% extends "layout.html" %}


{% block pageTitle %}
  Do you work in England?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-setting" method="post">

      {% set countryHtml %}

        {{ govukInput({
          name: "country",
          id: "country",
          classes: "govuk-!-width-half",
          label: {
            text: "Which country do you work in?"
          }
        }) }}

        {% endset -%}

      {{ govukRadios({
        id: "wheredoyouwork",
        name: "wheredoyouwork",
        fieldset: {
          legend: {
            text: "Do you work in England?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "England",
            text: "Yes"
          },

          {
            value: "Other",
            text: "No",
            conditional: {
              html: countryHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
