{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Where do you work?
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-setting" method="post">

      {% set countryHtml %}

        {{ govukInput({
          name: "country",
          id: "country",
          classes: "govuk-!-width-half",
          label: {
            text: "Which country do you work in?"
          }
        }) }}

        {% endset -%}

      {{ govukRadios({
        id: "wheredoyouwork",
        name: "wheredoyouwork",
        fieldset: {
          legend: {
            text: "Where do you work?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "England",
            text: "England"
          },
          {
            value: "Scotland",
            text: "Scotland"
          },
          {
            value: "Wales",
            text: "Wales"
          },
          {
            value: "Northern Ireland",
            text: "Northern Ireland"
          },
          {
            value: "Jersey, Guernsey or the Isle of Man",
            text: "Jersey, Guernsey or the Isle of Man"
          },
          {
            divider: "or"
          },
          {
            value: "Other",
            text: "Another country",
            conditional: {
              html: countryHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
