
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Find a teaching school hub near you
{% endblock %}


{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "/pdtl/professional-development-for-teachers-and-leaders-2"
    }

    ]
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find a teaching school hub near you</h1>

      <p>Teaching school hubs provide professional development for teachers. </p>

      <p>Find a teaching school hub near you to access their website and contact details.</p>

      <p class="govuk-body govuk-!-margin-bottom-6">They can offer advice on your professional development options, such as national professional qualifications (NPQs).</p>

      {{ govukButton({
        text: "Start now",
        href: "location"
      }) }}

    </div>
  </div>


  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
