
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Find a teaching school hub near you
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find a teaching school hub near you</h1>

      <p>Find a teaching school hub near you to access their website and contact details.</p>

      <p>Teaching school hubs provide professional development for teachers, and can offer advice on your professional development options.</p>

      {{ govukButton({
        text: "Start now",
        href: "location"
      }) }}



    </div>
  </div>


  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
