
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block pageNavigation %}
{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "professional-development-for-teachers-and-leaders-2"
  }
  ]
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">Leadership NPQs</h1>
      <p>Take a leadership NPQ to boost your knowledge and confidence as you progress into more senior roles.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Senior leadership</h2>
        <p>Develop your leadership knowledge and expertise to improve outcomes for teachers and pupils in your school.</p>
      {{ govukButton({
        text: "View the Senior leadership NPQ",
        classes: "govuk-button--secondary",
        href: "senior-leadership"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Headship</h2>
      <p>Develop the knowledge that underpins expert school leadership and apply it to become an outstanding headteacher.</p>
      {{ govukButton({
        text: "View the Headship NPQ",
        classes: "govuk-button--secondary",
        href: "headship"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Early headship coaching offer</h2>
        <p>If you’re in your first 5 years of headship, get support such as coaching and networking opportunities. You will also be able to access a toolkit of resources to help you thrive in your role.</p>
      {{ govukButton({
        text: "View the early headship coaching offer",
        classes: "govuk-button--secondary",
        href: "early-headship-coaching-offer"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Executive leadership</h2>
        <p>Develop the expertise you need to become an outstanding executive leader, leading change and improvement across your group of schools or multi-academy trust.</p>
      {{ govukButton({
        text: "View the executive leadership NPQ",
        classes: "govuk-button--secondary",
        href: "executive-leadership"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Early years leadership NPQ</h2>
        <p>Develop expertise in leading high-quality early years education and care, as well as effective staff and organisational management.</p>
      {{ govukButton({
        text: "View the Early years leadership NPQ",
        classes: "govuk-button--secondary",
        href: "early-years-leadership"
      }) }}

    </div>
  </div>





  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
