
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Choose an NPQ
      </h1>

      <p class="govuk-!-font-size-24" style="margin-top: -10px; margin-bottom: 50px">
        Choose from 4 specialist NPQs, 4 leadership NPQs, or the early headship coaching offer.
      </p>
      </div>

    </div>


  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-4">
          Specialist NPQs
        </h3>

        <p class="govuk-!-margin-bottom-4">Specialist national professional qualification (NPQ) help you develop your existing skills and knowledge. They include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Leading teaching</li>
          <li>Leading behaviour and culture</li>
          <li>Leading literacy</li>
          <li>Leading teacher development</li>
        </ul>

        <p class="govuk-!-margin-bottom-6"><a href="/pdtl/snpqs">View specialist NPQs</a>.</p>
      </div>
    </div>


  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-4">
          Leadership NPQs
        </h3>
        <p class="govuk-!-margin-bottom-4">Leadership NPQs help you boost your knowledge and confidence as you progress into more senior roles. They include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Senior leadership</li>
          <li>Headship</li>
          <li>Executive leadership</li>
          <li>Early years leadership</li>
        </ul>

      <p class="govuk-!-margin-bottom-6"><a href="/pdtl/lnpqs">View leadership NPQs</a>.</p>

      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-top-1">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
          <h3 class="govuk-heading-l govuk-!-margin-bottom-4">
            Early headship coaching offer
          </h3>
          <p class="govuk-!-margin-bottom-9">Get extra support as a new head teacher through the <a href="/pdtl/early-headship-coaching-offer">early headship coaching offer</a>.</p>
        </div>
      </div>



  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
