
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Professional development for teachers and leaders
      </h1>
      <p class="govuk-!-font-size-24" style="margin-top: -10px; margin-bottom: 40px">
        Choose a professional development option to improve your skills, increase your confidence or help you progress to a more senior role.
      </p>
      </div>

    </div>


  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 20px;">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-1">
          Broaden your expertise
        </h3>
        <p class="govuk-!-margin-bottom-2">Take a specialist national professional qualification (NPQ) to enhance and develop your existing skills and knowledge both inside and outside of the classroom.</p>
        <p>Here you'll find information about these NPQs:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Leading teaching</li>
          <li>Leading behaviour and culture</li>
          <li>Leading literacy</li>
          <li>Leading teacher development</li>
        </ul>
        {{ govukButton({
          text: "View all specialist NPQs",
          href: "snpqs"
        }) }}
      </div>
    </div>

  </div>



  <div class="govuk-grid-row govuk-!-padding-top-1">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 20px;">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-1">
          Develop your leadership skills
        </h3>
        <p class="govuk-!-margin-bottom-2">Take a leadership-focused NPQ to help boost your knowledge and confidence as you progress into more senior roles.</p>
        <p>Here you'll find information about these NPQs:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Senior leadership</li>
          <li>Headship</li>
          <li>Executive leadership</li>
          <li>Early years leadership</li>
          <li>Early headship coaching offer</li>
        </ul>
        {{ govukButton({
          text: "View all leadership NPQs",
          href: "lnpqs"
        }) }}
      </div>
    </div>


  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-l">Application process</h2>
      <p>Check out the steps you need to complete to register and apply for an NPQ.</p>
      {{ govukButton({
        text: "How to apply",
        classes: "govuk-button--secondary",
        href: "application-process"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row" style="margin-top: 20px">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="funding">Course funding</h2>

      <p>Full DfE funding, with no cost to the participant, is available to staff from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>state-funded schools in England</li>
        <li>state-funded organisations that offer 16 to 19 places in England</li>
      </ul>
      <h3 class="govuk-heading-m">Early years leadership NPQ</h3>
      <p>Additional funding is available for early years teachers applying for the early years leadership NPQ (NPQEYL). Find out more in the <a href="early-years-leadership#funding">NPQEYL page</a>.</p>
      <h3 class="govuk-heading-m">Targeted funding</h3>
      <p>
        From autumn 2022, state-funded schools and state-funded 16 to 19 educational settings
        in England with one to 600 pupils will be paid £200 for each teacher or leader they
        employ who takes an NPQ. Find out more in the <a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#targeted-support-funding">gov.uk site</a>.
      </p>
    </div>
  </div>

<!-- YOUTUBE VIDEOS -->
<!-- Needs to be reviewed against GDS guidelines as these state that promotional videos shouldn't be
  added to information pages -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-l">Testimonials</h2>
      <p>Hear from previous NPQ participants in the videos below.</p>
      <div style="padding-top: 20px; padding-bottom: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/U2YIdJ954BQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div style="padding-bottom: 40px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m-LxCfs2VIE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-top-5">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <div style="background-color:#F3F2F1; padding: 40px;">
      <h2 class="govuk-heading-m govuk-!-padding-top-1">
        If you coordinate professional development
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/public/files/npq-campaign.pdf">Download or print an NPQ prospectus</a> to share with colleagues in your organisation.</p>
    </div>
  </div>
  </div>


  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
