
{% extends "layout.html" %}

{% set serviceName %}
  Professional development for teachers and leaders
{% endset %}


{% block pageTitle %}
  Professional development for teachers and leaders
{% endblock %}

{% block pageNavigation %}
{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "professional-development-for-teachers-and-leaders-2"
  }
  ]
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">Specialist NPQs</h1>
      <p>Take a specialist national professional qualification (NPQ) to develop your existing skills and knowledge.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Leading teaching NPQ</h2>
      <p>Learn how to lead the teaching and learning of a subject, year group or phase.</p>
      {{ govukButton({
        text: "View the Leading teaching NPQ",
        classes: "govuk-button--secondary",
        href: "leading-teaching"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Leading behaviour and culture NPQ</h2>
        <p>Learn how to create a culture of good behaviour and high expectations in which staff and pupils can thrive.</p>
      {{ govukButton({
        text: "View the Leading behaviour and culture NPQ",
        classes: "govuk-button--secondary",
        href: "leading-behaviour-and-culture"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Leading literacy NPQ</h2>
        <p>Learn how to effectively teach and promote literacy across the whole school, year group, key stage or phase.</p>
      {{ govukButton({
        text: "View the Leading literacy NPQ",
        classes: "govuk-button--secondary",
        href: "leading-literacy"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-top: 40px">Leading teacher development NPQ</h2>
        <p>Learn how to become a teacher educator and successfully support teachers in your school to expand their skills.</p>
      {{ govukButton({
        text: "View the Leading teacher development NPQ",
        classes: "govuk-button--secondary",
        href: "leading-teacher-development"
      }) }}
    </div>
  </div>





  {% include 'includes/pdtl/survey.html' %}

{% endblock %}
