


{% block page %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers and confirm</h1>

      <form class='form' action="" method="post">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
              Where do you work?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wheredoyouwork']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="where-do-you-work">
                Change<span class="govuk-visually-hidden"> where do you work</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work setting
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['whichsetting']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-setting">
                Change<span class="govuk-visually-hidden"> work setting</span>
              </a>
            </dd>
          </div>
          <!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you work in a nursery?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['workinnursery']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/eyll/nursery">
                Change<span class="govuk-visually-hidden"> do you work in a nursery?</span>
              </a>
            </dd>
          </div> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if (data['nurserysetting'] == "Another early years setting")%}
              Type of workplace
              {% else %}
              Type of nursery
              {% endif %}

            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nurserysetting']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/eyll/nursery-type">
                Change<span class="govuk-visually-hidden"> type of nursery</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ofsted registration details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['urn']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/eyll/find-early-years">
                Change<span class="govuk-visually-hidden"> ofsted resgistration details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['choosenpq']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="choose-npq">
                Change<span class="govuk-visually-hidden"> course</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How is your NPQ being paid for?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['payment']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/funding/how-pay">
                Change<span class="govuk-visually-hidden"> how is your NPQ being paid for</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lead provider
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="choose-provider">
                Change<span class="govuk-visually-hidden"> lead provider</span>
              </a>
            </dd>
          </div>

        </dl>

      </form>

    </div>
  </div>
{% endblock %}
